// Convert emphasised and strong links into buttons
// (true|false)
// Default: true
// Example: 
// **[This is a button](button-href-target)**
$convert-buttons: true;

$button-background-em: $color-gray-medium;
$button-foreground-em: $color-gray-dark;
$button-background-strong: $color-accent;
$button-foreground-strong: $color-white;

// Convert emphasised and strong code into message boxes
// (true|false)
// Default: true
// Example: 
// **`This is a very important message`**
$convert-messages: true;

$message-background-em: #83D6DE;
$message-foreground-em: $color-black;
$message-symbol-em: "i";
$message-background-strong: #F6CD61;
$message-foreground-strong: $color-black;
$message-symbol-strong: "!";
