@mixin print-extras-links {
  @if $print-link-urls {
    a[href^="http"]::after,
    a[href^="ftp"]::after,
    a[href^="scp"]::after,
    a[href^="ssh"]::after {
      content: "#{$url-wrapper-before}"attr(href)"#{$url-wrapper-after}";
      hyphens: none;
      overflow-wrap: break-word;
    }
  }
}
