del {
  background: _($deletion-background);
  color: _($deletion-font-color);
  text-decoration: line-through;
}

ins {
  background: _($insertion-background);
  color: _($insertion-font-color);
  text-decoration: underline;
}
