del {
  background: $deletion-background;
  color: $deletion-font-color;
  text-decoration: line-through;
}

ins {
  background: $insertion-background;
  color: $insertion-font-color;
  text-decoration: underline;
}
