dl {
  margin: 0;
  margin-bottom: _($deflist-spacing-before);
  margin-top: _($deflist-spacing-after);

  dt {
    color: _($deflist-term-font-color);
    font-family: _($deflist-term-font-family);
    font-size: _($deflist-term-font-size);
    font-weight: _($deflist-term-font-weight);
    margin-left: _($deflist-term-indent);
  }

  dd {
    color: _($deflist-details-font-color);
    font-family: _($deflist-details-font-family);
    font-size: _($deflist-details-font-size);
    font-weight: _($deflist-details-font-weight);
    margin-left: _($deflist-details-indent);
  }
}
