table {
  @include align-block(_($table-align));

  border-collapse: _($table-collapse);
  width: _($table-width);

  thead {
    tr {
      background: _($table-header-background);
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: _($table-row-odd-background);
    }

    tr:nth-child(even) {
      background: _($table-row-even-background);
    }
  }

  th,
  td {
    padding: _($table-cell-spacing-inset);
  }
}
