ul {
  li > input[type="checkbox"]:first-child {
    height: 0;
    left: -1 * _($tasklist-size);
    margin: 0;
    margin-top: calc(
      #{_($root-font-size)} * #{_($root-line-height) / 2} - #{_($tasklist-size) / 2}
    );
    padding: 0;
    position: absolute;
    width: 0;

    // Box
    &::before {
      content: "";
      background: _(map-get($tasklist-background, "default"));
      border: _(map-get($tasklist-border, "default"));
      border-radius: _(map-get($tasklist-rounding, "default"));
      box-sizing: border-box;
      display: block;
      transition: background-color $transition-duration $transition-easing,
        border-color $transition-duration $transition-easing;
      height: _($tasklist-size);
      width: _($tasklist-size);
    }

    &:checked::before {
      background: _(map-get($tasklist-background, "checked"));
      border: _(map-get($tasklist-border, "checked"));
      border-radius: _(map-get($tasklist-rounding, "checked"));
    }

    // Checkmark
    &::after {
      content: "";
      display: none;
      border-left: solid _($tasklist-check-color) _($tasklist-check-width);
      border-bottom: solid _($tasklist-check-color) _($tasklist-check-width);
      height: #{_($tasklist-size) * 0.15};
      left: #{_($tasklist-size) * 0.25};
      position: absolute;
      top: #{_($tasklist-size) * 0.35};
      transform: rotate(-45deg);
      width: #{_($tasklist-size) * 0.4};
    }

    &:checked::after {
      display: block;
    }
  }
}
