// Generic UI component settings
$component-font-family : $font-family-sans-serif;
$component-font-weight : 500;
$component-line-height : [$line-height-ui 300];

// Buttons
$button-size           : [$object-size 400];
$button-font-size      : [$font-size-ui 400];

$button-spacing-inset  : 0 [$spacing-inset 500];
$button-border         : solid [$border-width 400] transparent;
$button-rounding       : [$rounding 400];

$button-variants       : (
  "default"   : ("default": [$color-lightgray 400], "hover": [$color-lightgray 500], "active": [$color-lightgray 700]),
  "primary"   : ("default": [$color-primary 400],   "hover": [$color-primary 500],   "active": [$color-primary 700]),
  "secondary" : ("default": [$color-secondary 400], "hover": [$color-secondary 500], "active": [$color-secondary 700]),
  "negative"  : ("default": [$color-red 400],       "hover": [$color-red 500],       "active": [$color-red 700]),
  "positive"  : ("default": [$color-green 400],     "hover": [$color-green 500],     "active": [$color-green 700]),
);

// Badges
$badge-size            : [$object-size 300];
$badge-font-size       : [$font-size-ui 300];

$badge-spacing-inset   : 0 [$spacing-inset 300];
$badge-border          : null;
$badge-rounding        : [$rounding 400];

$badge-variants        : (
  "default" : [$color-lightgray 400],
  "red"     : [$color-red 400],
  "orange"  : [$color-orange 400],
  "gold"    : [$color-gold 400],
  "lime"    : [$color-lime 400],
  "green"   : [$color-green 400],
  "teal"    : [$color-teal 400],
  "blue"    : [$color-blue 400],
  "purple"  : [$color-purple 400],
  "violet"  : [$color-violet 400]
);

// Indicators
$indicator-size        : [$object-size 100];

$indicator-border      : null;
$indicator-rounding    : $rounding-full;

$indicator-variants    : (
  "default" : [$color-lightgray 500],
  "red"     : [$color-red 400],
  "orange"  : [$color-orange 400],
  "gold"    : [$color-gold 400],
  "lime"    : [$color-lime 400],
  "green"   : [$color-green 400],
  "teal"    : [$color-teal 400],
  "blue"    : [$color-blue 400],
  "purple"  : [$color-purple 400],
  "violet"  : [$color-violet 400]
);

// Cards
$card-spacing-inset    : [$spacing-inset 300] [$spacing-inset 400];
$card-border           : solid [$border-width 300] [$color-lightgray 400];
$card-rounding         : [$rounding 400];
