/* Root element (block) */
$root-font-family          : $font-family-sans-serif;
$root-font-size            : [$font-size-body 400];
$root-font-color           : $color-text-dark;
$root-font-weight          : null;
$root-font-style           : null;

$root-align                : center;
$root-text-align           : null;
$root-line-height          : [$line-height-body 400];
$root-spacing-before       : 0;
$root-spacing-after        : 0;
$root-spacing-inset        : [$spacing-inset 500];
$root-background           : $color-background;
$root-border               : null;
$root-rounding             : null;

/* Paragraphs (block) */
$paragraph-text-align      : null;
$paragraph-spacing-before  : [$spacing-stacking 300];
$paragraph-spacing-after   : 0;
$paragraph-spacing-inset   : null;

/* Headings (block) */
//                           h1                       h2                       h3
$heading-font-family       : null                     null                     null;
$heading-font-size         : [$font-size-heading 900] [$font-size-heading 700] [$font-size-heading 600];
$heading-font-color        : [$color-primary 400]     [$color-secondary 400]   null;
$heading-font-weight       : 500                      500                      500;
$heading-font-style        : 500                      500                      500;

$heading-text-align        : null                     null                     null;
$heading-line-height       : null                     null                     null;
$heading-spacing-before    : 0                        [$spacing-stacking 200]  [$spacing-stacking 100];
$heading-spacing-after     : [$spacing-stacking 400]  [$spacing-stacking 200]  [$spacing-stacking 100];
$heading-spacing-inset     : null                     null                     null;
$heading-background        : null                     null                     null;
$heading-border            : null                     null                     null;
$heading-rounding          : null                     null                     null;

/* Blockquote (block) */
$blockquote-font-family    : null;
$blockquote-font-size      : [$font-size-body 500];
$blockquote-font-color     : [$color-secondary 400];
$blockquote-font-weight    : 500;
$blockquote-font-style     : null;

$blockquote-text-align     : null;
$blockquote-line-height    : null;
$blockquote-spacing-before : [$spacing-stacking 400];
$blockquote-spacing-after  : [$spacing-stacking 400];
$blockquote-spacing-inset  : 0 [$spacing-inset 300] 0 [$spacing-inset 700];
$blockquote-background     : null;
$blockquote-border         : null;
$blockquote-rounding       : null;

/* Lists (block) */
$list-ordered-style        : numeric;
$list-unordered-style      : square;

$list-spacing-before       : [$spacing-stacking 400];
$list-spacing-after        : [$spacing-stacking 400];
$list-indent               : [$spacing-inset 900];

$list-item-spacing-inset   : 0;
$list-item-indent          : [$spacing-inset 300];

/* Code blocks (block) */
$code-block-font-family    : $font-family-monospace;
$code-block-font-size      : [$font-size-body 300];
$code-block-font-color     : null;
$code-block-font-weight    : null;
$code-block-font-style     : null;

$code-block-text-align     : null;
$code-block-line-height    : [$line-height-body 300];
$code-block-spacing-before : [$spacing-stacking 400];
$code-block-spacing-after  : [$spacing-stacking 400];
$code-block-spacing-inset  : [$spacing-inset 400] [$spacing-inset 500];
$code-block-background     : [$color-lightgray 300];
$code-block-border         : solid [$color-lightgray 500] [$border-width 300];
$code-block-rounding       : [$rounding 400];

/* Thematic breaks (block) */
$break-height              : [$border-width 500];
$break-spacing-before      : [$spacing-stacking 700];
$break-spacing-after       : [$spacing-stacking 700];
$break-background          : [$color-primary 400];
$break-rounding            : [$rounding 400];

/* Links (inline) */
$link-font-family          : null;
$link-font-size            : null;
$link-font-color           : ("default": [$color-primary 400], "hover": [$color-primary 300], "active": [$color-primary 500]);
$link-font-weight          : 500;
$link-font-style           : null;

/* Emphases (inline) */
$emphasis-font-family      : null;
$emphasis-font-size        : null;
$emphasis-font-color       : null;
$emphasis-font-weight      : null;
$emphasis-font-style       : italic;

$strong-font-family        : null;
$strong-font-size          : null;
$strong-font-color         : null;
$strong-font-weight        : 700;
$strong-font-style         : null;

/* Inline code (inline-block) */
$code-inline-font-family   : $font-family-monospace;
$code-inline-font-size     : $font-size-smaller;
$code-inline-font-color    : null;
$code-inline-font-weight   : null;
$code-inline-font-style    : null;

$code-inline-spacing-inset : 0 [$spacing-inset 100];
$code-inline-border        : solid [$color-lightgray 500] [$border-width 300];
$code-inline-rounding      : [$rounding 400];
$code-inline-background    : [$color-lightgray 300];