/* Tables */
$table-width                          : null;
$table-align                          : center;
$table-collapse                       : collapse;

$table-header-background              : [$color-lightgray 400];
$table-row-odd-background             : null;
$table-row-even-background            : [$color-lightgray 300];

$table-cell-spacing-inset             : [$spacing-inset 300] [$spacing-inset 700];

/* Task list (unchecked, checked) */
$tasklist-check-color                 : $color-white;
$tasklist-check-width                 : [$border-width 400];

$tasklist-size                        : ("default": [$object-size 300],                               "checked": null);
$tasklist-background                  : ("default": $root-background,                                 "checked": [$color-green 300]);
$tasklist-border                      : ("default": solid [$border-width 400] [$color-lightgray 700], "checked": solid [$border-width 400] [$color-green 300]);
$tasklist-rounding                    : ("default": $rounding-full,                                   "checked": null);


/* Syntax highlighting */
$syntax-highlighting-provider         : "prism";
$syntax-highlighting-color-comments   : [$color-lime 500];
$syntax-highlighting-color-keywords   : [$color-blue 400];
$syntax-highlighting-color-literals   : [$color-purple 400];
$syntax-highlighting-color-strings    : [$color-red 400];
$syntax-highlighting-color-templates  : [$color-violet 400];
$syntax-highlighting-color-numbers    : [$color-red 400];
$syntax-highlighting-color-regexes    : [$color-orange 500];
$syntax-highlighting-color-types      : [$color-teal 500];
$syntax-highlighting-color-functions  : [$color-gold 500];
$syntax-highlighting-color-tags       : [$color-blue 400];
$syntax-highlighting-color-attributes : [$color-green 400];
$syntax-highlighting-color-link       : [$color-green 400];

$syntax-highlighting-wrap-languages   : "md" "markdown" "txt" "text";

/* Definition lists */
$deflist-spacing-before               : [$spacing-stacking 400];
$deflist-spacing-after                : [$spacing-stacking 400];

$deflist-term-font-family             : null;
$deflist-term-font-size               : null;
$deflist-term-font-weight             : 500;
$deflist-term-font-color              : null;
$deflist-term-indent                  : 0;

$deflist-details-font-family          : null;
$deflist-details-font-size            : null;
$deflist-details-font-weight          : null;
$deflist-details-font-color           : null;
$deflist-details-indent               : [$spacing-inset 700];

/* Changes */
$insertion-background                 : [$color-green 100];
$insertion-font-color                 : [$color-green 700];

$deletion-background                  : [$color-red 100];
$deletion-font-color                  : [$color-red 700];

$highlight-background                 : [$color-gold 100];
$highlight-font-color                 : [$color-gold 700];

/* Superscripts, subscripts */
$superscript-font-size                : $font-size-smaller;
$subscript-font-size                  : $font-size-smaller;
