// Base layout
$root-max-width      : 1000px;
$root-min-width      : 300px;

$root-spacing-left   : auto;
$root-spacing-right  : auto;
$root-spacing-before : 0;
$root-spacing-after  : 0;

$root-padding-x      : $spacing-400;
$root-padding-y      : $spacing-400;

// Breakpoints
$breakpoint-mobile   : 375px;
$breakpoint-tablet   : 750px;