// Floating
$floated-margin-x          : $margin-400;
$floated-margin-y          : $margin-400;

// Columns
$columns-max-count         : 6;
$columns-gutter            : $margin-300;

// Font sizes
$utility-font-sizes        : (
  tiny                     : $font-size-100,
  small                    : $font-size-300,
  normal                   : $font-size-400,
  large                    : $font-size-500,
  huge                     : $font-size-700
);

// Colors (base, hover, active)
$utility-background-colors : (
  primary                  : $color-primary,
  secondary                : $color-secondary,
  negative                 : $color-red,
  positive                 : $color-green,
  informative              : $color-blue
);

$utility-text-colors       : (
  primary                  : $color-primary,
  secondary                : $color-secondary,
  negative                 : $color-red,
  positive                 : $color-green,
  informative              : $color-blue
);

// Roundings
$utility-roundings         : (
  small                    : $rounding-300,
  normal                   : $rounding-400,
  large                    : $rounding-500,
  full                     : $rounding-full
);
