// Columns
$columns-max-count         : 6;
$columns-gutter            : [$spacing-gutter 300];

// Margins
$utility-margins           : (
  "small"       : [$spacing-stacking 300],
  "normal"      : [$spacing-stacking 400],
  "large"       : [$spacing-stacking 500],
  "huge"        : [$spacing-stacking 700]
);

// Font sizes
$utility-font-sizes        : (
  "small"       : [$font-size-body 300],
  "normal"      : [$font-size-body 400],
  "large"       : [$font-size-body 500],
  "huge"        : [$font-size-body 700]
);

// Colors
$utility-background-colors : (
  "primary"     : [$color-primary 400],
  "secondary"   : [$color-secondary 400],
  "negative"    : [$color-red 400],
  "positive"    : [$color-green 400],
  "informative" : [$color-blue 400]
);

$utility-text-colors       : (
  "primary"     : [$color-primary 500],
  "secondary"   : [$color-secondary 500],
  "negative"    : [$color-red 500],
  "positive"    : [$color-green 500],
  "informative" : [$color-blue 500]
);

// Roundings
$utility-roundings         : (
  "small"       : [$rounding 300],
  "normal"      : [$rounding 400],
  "large"       : [$rounding 500],
  "pill"        : $rounding-pill,
  "full"        : $rounding-full
);
