// Columns
$columns-max-count         : 6;
$columns-gutter            : weight($spacing-gutter, 300);

// Margins
$utility-margins           : (
  tiny                     : weight($spacing-stacking, 100),
  small                    : weight($spacing-stacking, 300),
  normal                   : weight($spacing-stacking, 400),
  large                    : weight($spacing-stacking, 500),
  huge                     : weight($spacing-stacking, 700)
);

// Font sizes
$utility-font-sizes        : (
  tiny                     : weight($font-size-body, 100),
  small                    : weight($font-size-body, 300),
  normal                   : weight($font-size-body, 400),
  large                    : weight($font-size-body, 500),
  huge                     : weight($font-size-body, 700)
);

// Colors
$utility-background-colors : (
  primary                  : weight($color-primary, 400),
  secondary                : weight($color-secondary, 400),
  negative                 : weight($color-red, 400),
  positive                 : weight($color-green, 400),
  informative              : weight($color-blue, 400)
);

$utility-text-colors       : (
  primary                  : weight($color-primary, 500),
  secondary                : weight($color-secondary, 500),
  negative                 : weight($color-red, 500),
  positive                 : weight($color-green, 500),
  informative              : weight($color-blue, 500)
);

// Roundings
$utility-roundings         : (
  small                    : weight($rounding, 300),
  normal                   : weight($rounding, 400),
  large                    : weight($rounding, 500),
  pill                     : $rounding-pill,
  full                     : $rounding-full
);
