@import "mixins";

body {
  margin: #{$page-margin-y} #{$page-margin-x};
  max-width: $page-max-width;
}

h1 {
  border-bottom: solid $page-foreground 0.3rem;
  padding: $paragraph-margin 0;
}

pre {
  @include badge($code-badge-background, 
                 $code-badge-foreground, 
                 $code-badge-symbol);
}

blockquote {
  @include badge($blockquote-badge-background, 
                 $blockquote-badge-foreground, 
                 $blockquote-badge-symbol);

  background: $blockquote-background;
  border-left: solid $color-accent 0.3rem;
  color: $blockquote-foreground;

  p {
    padding-left: $padding-large;
  }
}
