// Static colors
$color-white                : hsl(0, 0%, 100%);
$color-black                : hsl(0, 0%, 0%);

$color-lightgray-100        : hsl(215, 25%, 100%);
$color-lightgray-200        : hsl(210, 23%, 95%);
$color-lightgray-300        : hsl(215, 25%, 90%);
$color-lightgray-400        : hsl(215, 25%, 85%);
$color-lightgray-500        : hsl(215, 25%, 80%);

$color-darkgray-100         : hsl(215, 25%, 25%);
$color-darkgray-200         : hsl(215, 25%, 20%);
$color-darkgray-300         : hsl(215, 25%, 15%);
$color-darkgray-400         : hsl(215, 25%, 10%);
$color-darkgray-500         : hsl(215, 25%, 5%);

$color-primary-100          : hsl(5, 50%, 65%);
$color-primary-200          : hsl(5, 65%, 50%);
$color-primary-300          : hsl(5, 70%, 45%);
$color-primary-400          : hsl(5, 75%, 40%);
$color-primary-500          : hsl(5, 85%, 30%);

$color-secondary-100        : hsl(15, 35%, 55%);
$color-secondary-200        : hsl(15, 50%, 40%);
$color-secondary-300        : hsl(15, 55%, 35%);
$color-secondary-400        : hsl(15, 60%, 30%);
$color-secondary-500        : hsl(15, 65%, 20%);

$color-red-100              : hsl(355, 50%, 75%);
$color-red-200              : hsl(355, 65%, 60%);
$color-red-300              : hsl(355, 70%, 55%);
$color-red-400              : hsl(355, 75%, 50%);
$color-red-500              : hsl(355, 80%, 40%);

$color-orange-100           : hsl(25, 50%, 65%);
$color-orange-200           : hsl(25, 65%, 50%);
$color-orange-300           : hsl(25, 70%, 45%);
$color-orange-400           : hsl(25, 75%, 40%);
$color-orange-500           : hsl(25, 80%, 30%);

$color-green-100            : hsl(125, 25%, 60%);
$color-green-200            : hsl(125, 40%, 45%);
$color-green-300            : hsl(125, 45%, 40%);
$color-green-400            : hsl(125, 50%, 35%);
$color-green-500            : hsl(125, 60%, 25%);

$color-blue-100             : hsl(220, 45%, 75%);
$color-blue-200             : hsl(220, 60%, 60%);
$color-blue-300             : hsl(220, 65%, 55%);
$color-blue-400             : hsl(220, 70%, 50%);
$color-blue-500             : hsl(220, 75%, 40%);

// Semantic colors
$color-primary              : $color-primary-300;
$color-primary-focused      : $color-primary-400;
$color-primary-muted        : $color-primary-200;
$color-primary-disabled     : $color-primary-100;

$color-secondary            : $color-secondary-300;
$color-secondary-focused    : $color-secondary-400;
$color-secondary-muted      : $color-secondary-200;
$color-secondary-disabled   : $color-secondary-100;

$color-negative             : $color-red-300;
$color-negative-focused     : $color-red-400;
$color-negative-muted       : $color-red-200;
$color-negative-disabled    : $color-red-100;

$color-warning              : $color-orange-300;
$color-warning-focused      : $color-orange-400;
$color-warning-muted        : $color-orange-200;
$color-warning-disabled     : $color-orange-100;

$color-positive             : $color-green-300;
$color-positive-focused     : $color-green-400;
$color-positive-muted       : $color-green-200;
$color-positive-disabled    : $color-green-100;

$color-informative          : $color-blue-300;
$color-informative-focused  : $color-blue-400;
$color-informative-muted    : $color-blue-200;
$color-informative-disabled : $color-blue-100;

$color-text-dark            : $color-darkgray-300;
$color-text-dark-focused    : $color-darkgray-100;
$color-text-dark-muted      : $color-darkgray-400;
$color-text-dark-disabled   : $color-darkgray-500;

$color-text-light           : $color-white;
$color-text-light-focused   : $color-white;
$color-text-light-muted     : $color-lightgray-100;
$color-text-light-disabled  : $color-lightgray-200;

$color-object               : $color-lightgray-400;
$color-object-focused       : $color-lightgray-500;
$color-object-muted         : $color-lightgray-300;
$color-object-disabled      : $color-lightgray-200;
