/* Color scalable tokens */
$color-lightgray        : ("base": #eff1f5, "step": 20%);
$color-darkgray         : ("base": #232d39, "step": 20%);
$color-primary          : ("base": #d54325, "step": 20%);
$color-secondary        : ("base": #b85c3e, "step": 20%);
$color-red              : ("base": #db3743, "step": 20%);
$color-orange           : ("base": #da7126, "step": 20%);
$color-gold             : ("base": #d3a829, "step": 20%);
$color-lime             : ("base": #a7c028, "step": 20%);
$color-green            : ("base": #349464, "step": 20%);
$color-teal             : ("base": #2da0a0, "step": 20%);
$color-blue             : ("base": #1e77d0, "step": 20%);
$color-purple           : ("base": #7e59c9, "step": 20%);
$color-violet           : ("base": #da1f9b, "step": 20%);

/* Color token aliases */
$color-negative         : $color-red;
$color-positive         : $color-green;
$color-informative      : $color-blue;
$color-notice           : $color-orange;

/* Color static tokens */
$color-white            : #ffffff;
$color-black            : #000000;
$color-background       : $color-white;
$color-text-light       : $color-white;
$color-text-dark        : [$color-darkgray 400];
