// Static colors
$color-white                 : hsl(0, 0%, 100%);
$color-black                 : hsl(0, 0%, 0%);

$color-lightgray-100         : hsl(215, 25%, 100%);
$color-lightgray-200         : hsl(210, 23%, 95%);
$color-lightgray-300         : hsl(215, 25%, 90%);
$color-lightgray-400         : hsl(215, 25%, 85%);
$color-lightgray-500         : hsl(215, 25%, 80%);

$color-gray-100              : hsl(215, 25%, 75%);
$color-gray-200              : hsl(215, 25%, 70%);
$color-gray-300              : hsl(215, 25%, 65%);
$color-gray-400              : hsl(215, 25%, 60%);
$color-gray-500              : hsl(215, 25%, 55%);

$color-darkgray-100          : hsl(215, 25%, 25%);
$color-darkgray-200          : hsl(215, 25%, 20%);
$color-darkgray-300          : hsl(215, 25%, 15%);
$color-darkgray-400          : hsl(215, 25%, 10%);
$color-darkgray-500          : hsl(215, 25%, 5%);

$color-red-100               : hsl(0, 75%, 80%);
$color-red-200               : hsl(0, 75%, 50%);
$color-red-300               : hsl(0, 75%, 45%);
$color-red-400               : hsl(0, 75%, 40%);
$color-red-500               : hsl(0, 75%, 10%);

$color-orange-100            : hsl(20, 80%, 90%);
$color-orange-200            : hsl(20, 80%, 60%);
$color-orange-300            : hsl(20, 80%, 55%);
$color-orange-400            : hsl(20, 80%, 50%);
$color-orange-500            : hsl(20, 80%, 20%);

$color-yellow-100            : hsl(50, 90%, 80%);
$color-yellow-200            : hsl(50, 90%, 50%);
$color-yellow-300            : hsl(50, 90%, 45%);
$color-yellow-400            : hsl(50, 90%, 40%);
$color-yellow-500            : hsl(50, 90%, 10%);

$color-green-100             : hsl(123, 60%, 80%);
$color-green-200             : hsl(123, 60%, 50%);
$color-green-300             : hsl(123, 60%, 45%);
$color-green-400             : hsl(123, 60%, 40%);
$color-green-500             : hsl(123, 60%, 10%);

$color-blue-100              : hsl(200, 70%, 80%);
$color-blue-200              : hsl(200, 70%, 50%);
$color-blue-300              : hsl(200, 70%, 45%);
$color-blue-400              : hsl(200, 70%, 40%);
$color-blue-500              : hsl(200, 70%, 10%);

$color-purple-100            : hsl(280, 40%, 80%);
$color-purple-200            : hsl(280, 40%, 50%);
$color-purple-300            : hsl(280, 40%, 45%);
$color-purple-400            : hsl(280, 40%, 40%);
$color-purple-500            : hsl(280, 40%, 10%);

$color-violet-100            : hsl(330, 50%, 80%);
$color-violet-200            : hsl(330, 50%, 50%);
$color-violet-300            : hsl(330, 50%, 45%);
$color-violet-400            : hsl(330, 50%, 40%);
$color-violet-500            : hsl(330, 50%, 10%);

$color-brown-100             : hsl(20, 40%, 80%);
$color-brown-200             : hsl(20, 40%, 50%);
$color-brown-300             : hsl(20, 40%, 45%);
$color-brown-400             : hsl(20, 40%, 40%);
$color-brown-500             : hsl(20, 40%, 10%);

// Semantic colors
$color-primary               : hsl(15, 90%, 40%);
$color-primary-focused       : hsl(15, 90%, 30%);
$color-primary-muted         : hsl(15, 90%, 45%);
$color-primary-disabled      : hsl(15, 90%, 50%);

$color-secondary             : hsl(15, 60%, 50%);
$color-secondary-focused     : hsl(15, 60%, 40%);
$color-secondary-muted       : hsl(15, 60%, 55%);
$color-secondary-disabled    : hsl(15, 60%, 60%);

$color-negative              : $color-red-300;
$color-negative-focused      : $color-red-500;
$color-negative-muted        : $color-red-200;
$color-negative-disabled     : $color-red-100;

$color-warning               : $color-yellow-300;
$color-warning-focused       : $color-yellow-500;
$color-warning-muted         : $color-yellow-200;
$color-warning-disabled      : $color-yellow-100;

$color-positive              : $color-green-300;
$color-positive-focused      : $color-green-500;
$color-positive-muted        : $color-green-200;
$color-positive-disabled     : $color-green-100;

$color-informative           : $color-blue-300;
$color-informative-focused   : $color-blue-500;
$color-informative-muted     : $color-blue-200;
$color-informative-disabled  : $color-blue-100;

$color-text-dark             : $color-darkgray-300;
$color-text-dark-focused     : $color-darkgray-100;
$color-text-dark-muted       : $color-darkgray-400;
$color-text-dark-disabled    : $color-darkgray-500;

$color-text-light            : $color-lightgray-200;
$color-text-light-focused    : $color-lightgray-100;
$color-text-light-muted      : $color-lightgray-300;
$color-text-light-disabled   : $color-lightgray-400;

$color-object-light          : $color-lightgray-400;
$color-object-light-focused  : $color-lightgray-500;
$color-object-light-muted    : $color-lightgray-300;
$color-object-light-disabled : $color-lightgray-200;

$color-object-dark           : $color-darkgray-300;
$color-object-dark-focused   : $color-darkgray-100;
$color-object-dark-muted     : $color-darkgray-400;
$color-object-dark-disabled  : $color-darkgray-500;