/* Object size base and step values */
//               base  step
$object-size   : 32px  8px; // 8 16 24 32 40 48 56 64 72

/* Object size static tokens */

/* Border width base and step values  */
//               base  step
$border-width  : 2px   1px;

/* Border-width static tokens */

/* Rounding base and step values  */
//               base  step
$rounding      : 4px   2px;

/* Rounding static tokens */
$rounding-full : 50%;
$rounding-pill : 9999px;