// Static border width tokens
$border-width-300 : 1px;
$border-width-400 : 2px;
$border-width-500 : 3px;

// Static border radius tokens
$rounding-300     : 2px;
$rounding-400     : 5px;
$rounding-500     : 8px;

// Semantic border radius tokens
$rounding-full    : 50%;