// Static size tokens
$size-100             : 11px;
$size-300             : 25px;
$size-400             : 32px;
$size-500             : 39px;
$size-700             : 53px;

// Static padding tokens
$padding-100          : 3px;
$padding-300          : 9px;
$padding-400          : 12px;
$padding-500          : 15px;
$padding-700          : 21px;

// Static margin tokens
$margin-100           : 4px;
$margin-300           : 12px;
$margin-400           : 16px;
$margin-500           : 20px;
$margin-700           : 28px;
