// Static size tokens
$size-100          : 8px;
$size-300          : 24px;
$size-400          : 32px;
$size-500          : 40px;
$size-700          : 56px;

// Semantic size tokens

// Static spacing tokens
$spacing-100       : 3px;
$spacing-300       : 9px;
$spacing-400       : 12px;
$spacing-500       : 15px;
$spacing-700       : 21px;

// Semantic spacing tokens
