/* Spacing base and step values */
//                  base  step
$spacing-inline   : 16px  4px; // 4  8  12 16 20 24 28 32 36
$spacing-stacking : 24px  6px; // 6  12 18 24 30 36 42 48 54
$spacing-inset    : 14px  4px; // 2  6  10 14 18 22 26 30 34
$spacing-gutter   : 24px  6px; // 6  12 18 24 30 36 42 48 54

/* Spacing static tokens */

