/* Font family static tokens */
$font-family-sans-serif : #{"Barlow", sans-serif};
$font-family-monospace  : #{"Hack", monospace};

/* Font size base and step values */
//                        base  step
$font-size-body         : 16px  2px; // 10 12 14 16 18 20 22 24 26 28
$font-size-heading      : 18px  2px; // 12 14 16 18 20 22 24 26 28 30
$font-size-ui           : 14px  2px; // 8  10 12 14 16 18 20 22 24 26

/* Font size static tokens */
$font-size-smaller      : 0.85em;
$font-size-larger       : 1.15em;

/* Line height base and step values */
//                        base  step
$line-height-body       : 1.75  0.25; // 1.00 1.25 1.50 1.75 2.00 2.25 2.50 2.75 3.00 3.25 3.50 3.75
$line-height-heading    : 1.25  0.25; // 0.50 0.75 1.00 1.25 1.50 1.75 2.00 2.25 2.50 2.75 3.00 3.25
$line-height-ui         : 1.5   0.25; // 0.75 1.00 1.25 1.50 1.75 2.00 2.25 2.50 2.75 3.00 3.25 3.50

/* Line height static tokens */
