/* Font family static tokens */
$font-family-sans-serif : #{"Barlow", sans-serif};
$font-family-monospace  : #{"Hack", monospace};

/* Font size scalable tokens */
$font-size-body         : ("base": 16px, "step": 2px);
$font-size-heading      : ("base": 18px, "step": 2px);
$font-size-ui           : ("base": 14px, "step": 2px);

/* Font size static tokens */
$font-size-smaller      : 0.85em;
$font-size-larger       : 1.15em;

/* Line height scalable tokens */
$line-height-body       : ("base": 1.75, "step": 0.25);
$line-height-heading    : ("base": 1.25, "step": 0.25);
$line-height-ui         : ("base": 1.50, "step":  0.25);

