// Definition list (dl)
$deflist-background             : null;
$deflist-border-all             : null;
$deflist-border-radius          : null;
$deflist-padding-x              : null;
$deflist-padding-y              : null;

$deflist-border-top             : null;
$deflist-border-bottom          : null;
$deflist-border-left            : null;
$deflist-border-right           : null;
$deflist-padding-top            : null;
$deflist-padding-bottom         : null;
$deflist-padding-left           : null;
$deflist-padding-right          : null;

// Data term (dt)
$data-term-background            : null;
$data-term-border-all            : null;
$data-term-border-radius         : null;
$data-term-padding-x             : null;
$data-term-padding-y             : null;

$data-term-border-top            : null;
$data-term-border-bottom         : null;
$data-term-border-left           : null;
$data-term-border-right          : null;
$data-term-padding-top           : null;
$data-term-padding-bottom        : null;
$data-term-padding-left          : null;
$data-term-padding-right         : null;

// Data description (dd)
$data-description-background     : null;
$data-description-border-all     : null;
$data-description-border-radius  : null;
$data-description-padding-x      : null;
$data-description-padding-y      : null;

$data-description-border-top     : null;
$data-description-border-bottom  : null;
$data-description-border-left    : null;
$data-description-border-right   : null;
$data-description-padding-top    : null;
$data-description-padding-bottom : null;
$data-description-padding-left   : null;
$data-description-padding-right  : null;