@mixin generic-block {
  // Headings
  @for $level from 1 through 6 {
    h#{$level} {
      @include font($heading-font);

      @if ($level <= length($heading-font-size)) {
        @include font-color(nth($heading-font-color, $level));
        
        font-size: (nth($heading-font-size, $level));
        font-weight: (nth($heading-font-weight, $level));
        margin-bottom: nth($heading-margin, $level);
        margin-top: nth($heading-margin, $level);
      }
    }
  }

  // Paragraphs
  p {
    margin-bottom: $paragraph-margin;
    margin-top: $paragraph-margin;
    text-align: $paragraph-align;
  }

  // lists
  ul {
    list-style: $unordered-list-style;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
  }
  
  ol {
    list-style: $ordered-list-style;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
  }
  
  // Blockquotes
  blockquote {
    @include font($quote-font);
    @include font-size($quote-font-size);
    @include font-color($quote-font-color);
    @include font-weight($quote-font-weight);
    @include font-style($quote-font-style);
    @include background($quote-background);
    
    border: solid $quote-border-color $border-width;
    border-radius: $border-radius;
    line-height: $quote-line-height;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
    padding: $spacing-medium $spacing-huge;
  }

  // Code blocks
  pre {
    @include font($code-font);
    @include font-size($code-font-size);
    @include font-color($code-font-color);
    @include font-weight($code-font-weight);
    @include font-style($code-font-style);
    @include background($code-background);

    border: solid $code-border-color $border-width;
    border-radius: $border-radius;
    line-height: $code-line-height;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
    padding: $spacing-large;
  }

  // Horizontal break
  hr {
    margin-bottom: $spacing-large;
    margin-top: $spacing-large;
  }
}