@import "helpers/components";

@mixin generic-block {
  // Headings
  @for $level from 1 through 6 {
    h#{$level} {
      @include font($heading-font);

      @if ($level <= length($heading-font-size)) {
        @include font-size(nth($heading-font-size, $level));
        @include font-color(nth($heading-font-color, $level));
       
        font-weight: nth($heading-font-weight, $level);
        margin: nth($heading-margin, $level) 0;
      }
    }
  }

  // Paragraphs
  p {
    margin: $paragraph-margin 0;
    text-align: $paragraph-align;
  }

  // lists
  ul {
    list-style: $unordered-list-style;
    margin: $spacing-medium 0;
  }
  
  ol {
    list-style: $ordered-list-style;
    margin: $spacing-medium 0;
  }
  
  // Blockquotes
  blockquote {
    @include card(
      $quote-font,
      $quote-font-size,
      $quote-font-color,
      $quote-font-weight,
      $quote-font-style,
      $quote-background,
      $quote-border-color
    );
    
    margin: $spacing-medium 0;
    padding: $spacing-medium $spacing-huge;
  }

  // Code blocks
  pre {
    @include card(
      $code-font,
      $code-font-size,
      $code-font-color,
      $code-font-weight,
      $code-font-style,
      $code-background,
      $code-border-color
    );

    line-height: $code-line-height;
    margin: $spacing-medium 0;
  }

  // Horizontal break
  hr {
    margin: $spacing-large 0;
  }
}