@mixin generic-inline {
  // Links
  a {
    @include font($link-font);
    @include font-size($link-font-size);
    @include font-style($link-font-style);
    @include font-weight($link-font-weight);
    
    color: $link-font-color;
  }

  // Inline code
  code {
    @include font($code-font);
    @include font-size($code-font-size);
    @include font-color($code-font-color);
    @include font-style($code-font-style);
    @include font-weight($code-font-weight);
    @include background($code-background);
    
    border-radius: $border-radius;
    padding: $spacing-small;
  }
}