@mixin generic-inline {
  // Links
  a {
    @include font($link-font);
    @include font-size($link-font-size);
    @include font-style($link-font-style);

    color: $link-font-color;
    font-weight: $link-font-weight;
    text-decoration: none;
  }

  // Inline code
  code {
    @include background($code-background);
    @include font($code-font);
    @include font-size($code-font-size);
    @include font-color($code-font-color);
    @include font-style($code-font-style);

    border-radius: $border-radius-100;
    font-weight: $code-font-weight;
    padding: 0 $spacing-200;
  }

  // Images
  img {
    vertical-align: middle;
  }

  // Emphasis
  b,
  strong {
    font-weight: $font-weight-bold;
  }

  i,
  em {
    font-style: italic;
  }

  // Strikethrough
  del {
    background: lighter($color-red, 3);
    border-radius: $border-radius-100;
    color: darker($color-red, 2);
    padding: 0 $spacing-200;
    text-decoration: line-through;
  }

  // Insert
  ins {
    background: lighter($color-green, 3);
    border-radius: $border-radius-100;
    color: darker($color-green, 2);
    padding: 0 $spacing-200;
    text-decoration: none;
  }

  // Highlight
  mark {
    background: lighter($color-blue, 4);
    border-radius: $border-radius-100;
    color: darker($color-blue, 2);
    padding: 0 $spacing-200;
  }
}
