@mixin generic-root {
  background: $root-background;
  color: $root-font-color;
  font-family: $root-font;
  font-size: $root-font-size;
  line-height: $root-line-height;
  padding: $root-margin-y calc(50% - #{$root-max-width / 2} + #{$root-margin-x});
  min-width: $root-min-width;
  
  @if (unit($root-max-width) == unit($root-margin-x)) {
    $max-width: #{$root-max-width + (2 * $root-margin-x) + rem(3)};

    @media (max-width: $max-width) {
      padding: $root-margin-y $root-margin-x;
    }
  }

  > * {
    max-width: $root-max-width;
  }
}