@import "mixins";

body {
  margin: #{$page-margin-y} #{$page-margin-x};
  max-width: $page-max-width;
}

h1 {
  color: $color-primary;
  text-transform: uppercase;
}

blockquote {
  @include box($quote-background, $quote-foreground);
  font-style: italic;
}
