@mixin screen-block {
  @if $root-selector == "" {
    body {
      padding: $spacing-huge;
    }
  } @else {
    padding: $spacing-huge;
  }

  h1 {
    color: $color-primary;
    text-transform: uppercase;
  }

  pre {
    overflow-x: auto;
    white-space: pre;
  }
}