@mixin screen-extras {
  // Manual Page Break
  @if $enable-page-break-manual {
    hr {
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
    }
  }

  // Tables
  @if $enable-tables {
    table {
      th, td {
        padding: $spacing-medium $spacing-large;
      }
    }
  }
}