@mixin screen-inline {
  // Links
  p a {
    border-bottom: solid transparent $border-width;
    padding-bottom: 2px;
    transition: border-bottom-color $transition-duration;

    &:hover {
      border-bottom-color: $link-font-color;
    }
  }
}