@mixin screen-inline {
  // Links
  a {
    border-bottom: solid transparent 1px;
    padding-bottom: 2px;
    transition: border-bottom-color $transition-duration;

    &:hover {
      border-bottom-color: $link-font-color;
    }
  }
}