@mixin badge($accent, $symbol) {
  position: relative;

  &:after {
    align-content: center;
    content: $symbol;
    color: $accent;
    display: flex;
    font-size: 1.75rem;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    position: absolute;
    right: $spacing-huge;
    top: 50%;
    font-family: $font-monospace;
    transform: translateY(-50%);
  }
}

@mixin button($background, $foreground) {
  background: $background;
  border: none;
  border-radius: $border-radius;
  color: $foreground;
  display: inline-block;
  font-size: $page-font-size;
  font-style: normal;
  font-weight: normal;
  padding: $spacing-large $spacing-huge;
  transition: background $transition-duration;

  &:hover {
    background: darken($background, 5%);
  }

  &:active {
    background: darken($background, 10%);
  }
}

@mixin box($background, $foreground) {
  background: $background;
  border-radius: $border-radius;
  color: $foreground;
  display: block;
  font-family: $page-font;
  font-size: $page-font-size;
  font-style: normal;
  font-weight: normal;
  margin: $spacing-large 0;
  padding: $spacing-large $spacing-huge;
}

@mixin message($accent, $symbol) {
  @include box($accent, $color-white);
  @include badge($page-background, $symbol);
}
