@mixin badge($background, $foreground, $symbol) {
  position: relative;

  &:after {
    content: $symbol;
    background: $background;
    border: solid $color-white 0.2rem;
    border-radius: 50%;
    box-sizing: content-box;
    color: $foreground;
    display: block;
    font-family: $code-font;
    font-size: 1.1rem;
    font-weight: bold;
    height: 1.7rem;
    line-height: 1.7rem;
    position: absolute;
    right: -0.5rem;
    text-align: center;
    top: -0.5rem;
    width: 1.7rem;
  }
}

@mixin button($background, $foreground) {
  background: $background;
  border: none;
  border-radius: $border-radius;
  color: $foreground;
  display: inline-block;
  font-size: $page-font-size;
  font-style: normal;
  font-weight: bold;
  padding: $spacing-large $spacing-huge;
  transition: background $transition-duration;

  &:hover {
    background: darken($background, 5%);
  }

  &:active {
    background: darken($background, 10%);
  }
}

@mixin message($background, 
               $foreground, 
               $badge-background, 
               $badge-foreground, 
               $badge-symbol) {
  @include badge($badge-background, $badge-foreground, $badge-symbol);

  background: $background;
  border-left: solid $badge-background 0.3rem;
  border-radius: 0 $border-radius $border-radius 0;
  color: $foreground;
  display: block;
  font-family: $page-font;
  font-size: $page-font-size;
  font-style: normal;
  font-weight: bold;
  margin: $spacing-medium 0;
  padding: $spacing-huge;
  width: 100%;
}
