@mixin screen-root {
  > * {
    $root-padding: calc(50% - #{$root-max-width / 2});

    padding-left: $root-padding !important;
    padding-right: $root-padding !important;

    @media (max-width: #{$root-max-width + (2 * $root-margin-x)}) {
      padding-left: $root-margin-x !important;
      padding-right: $root-margin-x !important;
    }
  }
}