body {
  margin: #{$page-margin-y} #{$page-margin-x};
  max-width: $page-max-width;
}

pre {
  position: relative;

  &:before {
    content: "<>";
    background: $color-accent;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color-white;
    display: block;
    font-weight: bold;
    height: 1.7em;
    padding: .2em .3em;
    position: absolute;
    right: -.5em;
    top: -10px;
    width: -.5em;
  }
}