@mixin utilities-align {
  // Text align
  .align\:left {
    text-align: left;
  }

  .align\:right {
    text-align: right;
  }

  .align\:center {
    text-align: center;
  }

  .align\:justify {
    text-align: justify;
  }

  // Floating
  .float\:left {
    float: left;
    margin: #{$floated-margin-y} #{$floated-margin-x} #{$floated-margin-y} 0;
  }

  .float\:right {
    float: right;
    margin: #{$floated-margin-y} 0 #{$floated-margin-y} #{$floated-margin-x};
  }

  // Clearing
  .clear\:left {
    clear: left;
  }

  .clear\:right {
    clear: right;
  }

  .clear\:both {
    clear: both;
  }
}
