@mixin utilities-columns {
  @for $column-count from 2 through $columns-max-count {
    .columns\:#{$column-count} {
      display: grid;
      grid-gap: $columns-spacing;
      grid-template-columns: repeat(auto, $column-count);
      padding: $columns-spacing 0;

      @include tablet-only {
        $tablet-column-count: ceil($column-count / 2);
        grid-template-columns: repeat(auto, $tablet-column-count);
      }

      @include mobile-only {
        grid-template-columns: auto;
      }
    }
  }

  .columns\:auto {
    align-items: stretch;
    display: flex;
    justify-content: space-evenly;

    & > * {
      margin: $columns-spacing;
      flex-shrink: 1;
      width: 100%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
