@mixin align-block($alignment) {
  @if $alignment == center {
    margin-left: auto;
    margin-right: auto;
  } @else if $alignment == left {
    margin-right: auto;
  } @else if $alignment == right {
    margin-left: auto;
  }
}
