@mixin card($font, $font-size, $font-color, $font-weight, $font-style, $background, $border-color) {
  @include font($font);
  @include font-size($font-size);
  @include font-color($font-color);
  @include font-weight($font-weight);
  @include font-style($font-style);
  @include background($background);

  @if ($border-color != none) {
    border: solid $border-color 2px;
  }
  
  border-radius: $border-radius;
  break-inside: avoid;
  margin: $spacing-medium 0;
  padding: $spacing-large;
  page-break-inside: avoid;

  p {
    margin: 0;
  }
}