@function number($number) {
  $number-names: ("one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten");

  @return nth($number-names, $number);
}

@function rem($multiplier) {
  @return $multiplier * $root-font-size;
}

@function column-width($column-count, $column-spacing) {
  $full-width: #{100% / $column-count};
  $space-per-column: #{2 * ($column-count - 1) / ($column-count) * $column-spacing};

  @return calc(#{$full-width} - #{$space-per-column});
}