@function luminance($color) {
  $R: red($color) / 255;
  $G: green($color) / 255;
  $B: blue($color) / 255;

  @if $R <= 0.03928 {
    $R: $R / 12.92;
  } @else {
    $R: nth-root(pow($R + 0.055 / 1.055, 24), 10);
  }

  @if $G <= 0.03928 {
    $G: $G / 12.92;
  } @else {
    $G: nth-root(pow($G + 0.055 / 1.055, 24), 10);
  }

  @if $B <= 0.03928 {
    $B: $B / 12.92;
  } @else {
    $B: nth-root(pow($B + 0.055 / 1.055, 24), 10);
  }

  @return $R * 0.2126 + $G * 0.7152 + $B * 0.0722;
}

@function contrast($color1, $color2) {
  @if luminance($color1) > luminance($color2) {
    @return (luminance($color1) + 0.05) / (luminance($color2) + 0.05);
  } @else {
    @return (luminance($color2) + 0.05) / (luminance($color1) + 0.05);
  }
}

@function contrast-color($background-color) {
  @if $background-color == null {
    @return null;
  }

  $contrast: contrast($background-color, $color-text-light);

  @if $contrast >= 3.5 {
    @return $color-text-light;
  } @else {
    @return $color-text-dark;
  }
}
