@mixin font($font) {
  @if ($font != $root-font) {
    font-family: $font;
  }
}

@mixin font-size($font-size) {
  @if ($font-size != $root-font-size) {
    font-size: $font-size;
  }
}

@mixin font-color($color) {
  @if ($color != $root-font-color) {
    color: $color;
  }
}

@mixin font-weight($weight) {
  @if ($weight != normal) {
    font-weight: $weight;
  }
}

@mixin font-style($style) {
  @if ($style != normal) {
    font-style: $style;
  }
}

@mixin background($background) {
  @if ($background != $root-background) {
    background: $background;
  }
}

@mixin root {
  @if $root-selector == "" {
    @content;
  } @else {
    #{$root-selector} {
      @content;
    }
  }
}

@mixin on-root {
  @if $root-selector == "" {
    body {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin to-right-margin {
  position: absolute;
  top: 0;
  left: calc(100% + #{$root-margin-x});
  @content;
}

@mixin to-left-margin {
  position: absolute;
  top: 0;
  right: calc(100% + #{$root-margin-x});
  @content;
}

@mixin full-background($background) {
  background: $background;
  display: block;
  padding: $spacing-medium 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    background: $background;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 50vw;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}