@mixin print-extras {
  // Automatic Page Break
  @if $enable-break-auto {
    // Insert before elements
    @each $insert-element in $break-auto-insert-before {
      #{$insert-element} {
        page-break-before: always;
      }
    }

    // Avoid after element
    @each $avoid-element in $break-auto-avoid-after {
      @each $insert-element in $break-auto-insert-before {
        #{$avoid-element} + #{$insert-element} {
          page-break-before: avoid;
        }
      }

      #{$avoid-element} {
        page-break-after: avoid;
      }
    }
  }

  // Print Link URLs
  @if $enable-print-urls {
    a[href^="http"]::after,
    a[href^="ftp"]::after,
    a[href^="scp"]::after,
    a[href^="ssh"]::after {
      content: " <" attr(href) ">";
      hyphens: none;
      overflow-wrap: break-word;
    }
  }
}
