@mixin print-extras {
  // Manual Page Break
  @if $enable-page-break-manual {
    hr {
      visibility: hidden;
      page-break-after: always;
    }
  }

  // Automatic Page Break
  @if $enable-page-break-auto {
    // Insert before elements
    @each $insert-element in $page-break-auto-insert-before {
      #{$insert-element} {
        page-break-before: always;
      }
    }

    // Avoid after element
    @each $avoid-element in $page-break-auto-avoid-after {
      @each $insert-element in $page-break-auto-insert-before {
        #{$avoid-element} + #{$insert-element} {
          page-break-before: avoid;
        }
      }

      #{$avoid-element} {
        page-break-after: avoid;
      }
    }
  }

  // Print Link URLs
  @if $enable-print-urls {
    a[href^="http"]::after,
    a[href^="ftp"]::after,
    a[href^="scp"]::after,
    a[href^="ssh"]::after {
      content: " <" attr(href) ">";
      hyphens: none;
      overflow-wrap: break-word;
    }
  }

  // Non printing container
  @if $enable-container-no-print {
    .no.print {
      display: none;
    }
  }

  // Sticky Containers
  @if $enable-container-sticky {
    .sticky {
      position: static;
    }
  }
}
