@mixin print-extras {
  @if $page-break-manual == true {
    hr {
      visibility: hidden;
      page-break-after: always;
    }
  }

  @each $element in $page-break-insert-before {
    #{$element} {
      page-break-before: always;
    }
  }

  @each $nobreak-element in $page-break-avoid-after {
    @each $break-element in $page-break-insert-before {
      #{$nobreak-element} + #{$break-element} {
        page-break-before: avoid;
      }
    }

    #{$nobreak-element} {
      page-break-after: avoid;
    }
  }

  @if $print-link-urls == true {
    a[href^="http"]:after,
    a[href^="ftp"]:after,
    a[href^="scp"]:after,
    a[href^="ssh"]:after {
      content: " <" attr(href) ">";
    }
  }
}