@mixin shared-block {
  // Headings
  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  h1, h2 {
    text-transform: uppercase;
  }

  // Lists
  ol, ul {
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    li {
      margin: 0;
    }

    p {
      display: inline;
    }
  }

  // Blockquotes
  blockquote {
    margin-left: 0;
    margin-right: 0;
    
    p {
      display: inline;
    }
  }

  // Code blocks
  pre {
    break-inside: avoid;
    page-break-inside: avoid;
    
    code {
      background: none;
      border: none;
      display: block;
      padding: 0;
    }
  }

  // Horizontal break
  hr {
    background: $color-gray-medium;
    border: none;
    clear: both;
  }
}