body {
  background: $page-background;
  color: $page-foreground;
  font-family: $page-font;
  font-size: $page-font-size;
  line-height: $page-line-height;
}

h1, h2, h3 {
  font-family: $heading-font;
}

@for $level from 1 through 3 {
  h#{$level} {
    font-size: map-get($heading-font-size, $level);
    margin-bottom: map-get($heading-margin, $level);
  }
}

blockquote, p, pre, ol, ul {
  margin: $spacing-medium 0;
}

blockquote p,
ol p,
ul p {
  display: inline;
  text-indent: 0;
}

blockquote {
  font-style: italic;
  padding: $spacing-large;
}

p {
  text-indent: $paragraph-indent;
}

ol, ul {
  ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ol {
  list-style: $ordered-list-style;
}

ul {
  list-style: $unordered-list-style;
}

pre, code {
  background: $code-background;
  border-radius: $border-radius;
  color: $code-foreground;
  font-family: $code-font;
  font-size: $code-font-size;
}

pre {
  padding: $spacing-medium;
}

hr {
  background: $page-foreground;
  border: none;
  height: 2px;
  margin: $spacing-large 0;
}
