@mixin shared-block {
  blockquote p,
  ol p,
  ul p {
    display: inline;
    text-indent: 0;
  }

  blockquote {
    font-style: italic;
  }

  p {
    text-indent: 0;
  }

  ol, ul {
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  pre {
    padding: 0.5em; // for highlight.js compatibility
  }

  pre code {
    background: inherit;
    border: none;
    display: block;
  }

  hr {
    border: none;
    clear: both;
  }
}