@mixin shared-block {
  // Headings
  h1, h2 {
    text-transform: uppercase;
  }

  // Paragraphs
  p {
    text-indent: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Lists
  ol, ul {
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    li {
      margin: 0;
    }

    p {
      display: inline;
      text-indent: 0;
    }
  }

  // Blockquotes
  blockquote {
    text-transform: uppercase;

    p {
      display: inline;
      text-indent: 0;
    }
  }

  // Code blocks
  pre {
    code {
      background: none;
      border: none;
      display: block;
      padding: 0;
    }
  }

  // Horizontal break
  hr {
    background: $color-gray-medium;
    border: none;
    clear: both;
  }
}