@mixin shared-extras {
  // Tables
  @if $use-table {
    table {
      border-collapse: collapse;

      thead {
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
      }

      tr:nth-child(even) {
        background: $table-striped-background;
      }

      td, th {
        text-align: left;
      }
    }
  }

  // Definition Lists
  @if $use-definition-list {
    dt {
      display: block;
      font-weight: bold;
    }

    dd {
      display: block;
    }
  }

  // Strikethrough
  @if $use-strikethrough {
    s, del {
      text-decoration: line-through;
    }
  }

  // Sticky Containers
  @if $use-container-sticky {
    .sticky {
      position: sticky;
      top: 0;
      z-index: 9;
    }
  }

  // Flex base class
  %flex {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // Flex Containers
  @if $use-container-flex {
    .flex {
      @extend %flex;
    }
  }

  // Columns
  @if $use-container-columns {
    .columns {
      @extend %flex;

      & > * {
        box-sizing: border-box;
        display: block;
        width: 100%;
      }
    }
  }

  // Left and Right Aligned Containers
  @if $use-container-float {
    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  // Left and Right Text Aligned Containers
  @if $use-container-text-align {
    .text-left,
    .text-left p {
      text-align: left;
    }

    .text-right,
    .text-right p {
      text-align: right;
    }

    .text-center,
    .text-center p {
      text-align: center;
    }
  }

  // Columns
  @if $use-container-columns {
    .columns > * {
      &:first-child {
        margin-left: 0;
      }
    
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // Syntax Highlighting
  @if $use-syntax-highlighting {
    pre code {
      @each $selector, $color in $syntax-highlighting {
        #{$selector} {
          color: #{$color};
        }
      }
    }
  }
}