@mixin shared-extras {
  // Tables
  @if $use-table == true {
    table {
      border-collapse: collapse;
      display: inline-table;
      max-width: 100%;

      thead {
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
      }

      td, th {
        text-align: left;
      }
    }
  }

  // Definition Lists
  @if $use-definition-list == true {
    dt {
      display: block;
      font-weight: bold;
    }

    dd {
      display: block;
    }
  }

  // Sticky Containers
  @if $use-container-sticky == true {
    .sticky {
      position: sticky;
      top: 0;
      z-index: 9;
    }
  }

  // Flex Containers
  @if $use-container-flex == true {
    .flex {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  // Left and Right Aligned Containers
  @if $use-container-float == true {
    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  // Left and Right Text Aligned Containers
  @if $use-container-text-align == true {
    .text-left {
      text-align: left;
    }

    .text-right {
      text-align: right;
    }

    .text-center {
      text-align: center;
    }
  }

  // Syntax Highlighting
  @if $use-syntax-highlighting == true {
    pre code {
      @each $selector, $color in $syntax-highlighting {
        #{$selector} {
          color: #{$color};
        }
      }
    }
  }
}