@mixin shared-inline {
  // Links
  a {
    text-decoration: none;
  }
  
  // Inline code
  code {
    overflow-wrap: break-word;
  }

  // Images
  img {
    vertical-align: middle;
  }

  // Emphasis
  b, strong {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }
}