@mixin shared-inline {
  a {
    @include use-font-color($link-color);

    text-decoration: none;
  }

  code {
    padding: $spacing-small;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
}