// Root typography
$root-font            : $font-serif;
$root-font-size       : 11pt;
$root-font-color      : $color-black;
$root-background      : $color-white;
$root-line-height     : 1.41;

// Spacing
$spacing-small        : 3pt;
$spacing-medium       : 6pt;
$spacing-large        : 12pt;
$spacing-huge         : 24pt;

// Root dimensions
$root-margin-x        : 1.2cm;
$root-margin-y        : 0;
$root-max-width       : 100%;
$root-min-width       : 0;

// Headings
$heading-font         : $font-sans-serif;
$heading-font-size    : (17pt, 14pt, 13pt, 12pt);
$heading-font-color   : ($color-primary, $color-accent, $root-font-color, $root-font-color);
$heading-font-weight  : (500, 500, 500, 500);
$heading-margin       : (16pt, 14pt, 8pt, 6pt);

// Paragraphs
$paragraph-align      : justify;
$paragraph-margin     : $spacing-medium;

// Lists
$ordered-list-style   : decimal;
$unordered-list-style : square;

// Blockquotes
$quote-font           : $font-serif;
$quote-font-size      : 13pt;
$quote-font-color     : $color-primary;
$quote-font-weight    : normal;
$quote-font-style     : italic;
$quote-background     : $root-background;
$quote-border-color   : transparent;
$qoute-line-height    : $root-line-height;

// Code
$code-font            : $font-monospace;
$code-font-size       : 10pt;
$code-font-color      : $root-font-color;
$code-font-weight     : normal;
$code-font-style      : normal;
$code-background      : $color-gray-light;
$code-border-color    : transparent;
$code-line-height     : 1.5;

// Links
$link-font            : $root-font;
$link-font-size       : $root-font-size;
$link-font-color      : $root-font-color;
$link-font-weight     : bold;
$link-font-style      : normal;

// Breakpoints
$breakpoint-small     : 130mm;
$breakpoint-large     : 200mm;

// Borders
$border-width         : 1px;
$border-radius        : 3px;