$external-imports : (
  "https://fonts.googleapis.com/css?family=Noticia+Text:400,400i,700,700i&subset=latin-ext",
  "https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext",
  "https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin-ext",
  "https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&subset=latin-ext"
);
