// MDSS Extras
$page-break-manual: true;
$page-break-insert-before: h2;
$page-break-avoid-after: h1;

$numbered-headings: h2, h3;
$numbered-elements: (img, table);

$print-link-urls: true;

// Markdown Extensions
$use-abbreviation: false;
$use-definition-list: false;
$use-insert: false;
$use-mark: false;
$use-strikethrough: false;
$use-table: false;
$use-task-list: false;

// Markdown Containers
$container-flex: false

