// MDSS Extras
$enable-auto-numbering                   : true;
  $auto-numbering-headings               : ();
  $auto-numbering-elements               : ();
$enable-print-urls                       : false;
$enable-break-manual                     : true;
$enable-break-auto                       : true;
  $break-auto-insert-before              : ();
  $break-auto-avoid-after                : (h1);

// Utilities
$enable-utilities                        : true;
  $utilities-colors                      : (
    "white"                              : $color-white,
    "gray"                               : $color-gray,
    "black"                              : $color-black,
    "red"                                : $color-red,
    "orange"                             : $color-orange,
    "yellow"                             : $color-yellow,
    "green"                              : $color-green,
    "forest"                             : $color-forest,
    "blue"                               : $color-blue,
    "purple"                             : $color-purple,
    "violet"                             : $color-violet,
    "brown"                              : $color-brown,
    "primary"                            : $color-primary,
    "secondary"                          : $color-secondary
  );

// Components
$enable-components                       : true;

// Syntax Highlighting
$enable-syntax-highlighting              : true;
  $syntax-highlighting-colors            : (
    ".token.comment"                     : $color-brown,  // Comments
    ".token.keyword"                     : $color-blue,   // Keywords
    ".token.constant, .token.boolean"    : $color-blue,   // Literals (e.g. null, true, false)
    ".token.string, .token.char"         : $color-violet, // Strings
    ".token.interpolation"               : $color-purple, // String placeholders (e.g. ${})
    ".token.number"                      : $color-violet, // Numbers
    ".token.regex"                       : $color-purple, // Regular expressions
    ".token.function, .token.class-name" : $color-forest, // Function/Class names
    ".token.tag, .token.attr-name"       : $color-blue,   // HTML/XML tag names
    ".token.attr"                        : $color-green   // HTML/XML attribute names
  );

  // Syntax Highlighting for HighlightJS
  // $syntax-highlighting-colors : (
  //   ".hljs-comment"                   : $color-brown,  // Comments
  //   ".hljs-keyword, .hljs-built_in"   : $color-blue,   // Keywords
  //   ".hljs-literal"                   : $color-blue,   // Literals (e.g. null, true, false)
  //   ".hljs-string"                    : $color-purple, // Strings
  //   ".hljs-subst"                     : $color-violet, // String placeholders (e.g. ${})
  //   ".hljs-number"                    : $color-purple, // Numbers
  //   ".hljs-regexp"                    : $color-violet, // Regular expressions
  //   ".hljs-title"                     : $color-green,  // Function/Class names
  //   ".hljs-tag, .hljs-name"           : $color-blue,   // HTML/XML tag names
  //   ".hljs-attr"                      : $color-green   // HTML/XML attribute names
  // );

  // Syntax Highlighting for Pandoc
  // $syntax-highlighting-colors : (
  //   ".co, .do"                        : $color-brown,  // Comments
  //   ".kw, .cf, .dt"                   : $color-blue,   // Keywords
  //   ".li"                             : $color-blue,   // Literals (e.g. null, true, false)
  //   ".st, .vs"                        : $color-purple, // Strings
  //   ".sc"                             : $color-violet, // String placeholders (e.g. ${})
  //   ".nu, .dv"                        : $color-purple, // Numbers
  //   ".ss"                             : $color-violet, // Regular expressions
  //   ".fu"                             : $color-green,  // Function/Class names
  //   ".kw"                             : $color-blue,   // HTML/XML tag names
  //   ".ot"                             : $color-green   // HTML/XML attribute names
  // );