$module-commonmark-enabled          : true;

$module-print-extras-enabled        : true;
$module-book-extras-enabled         : false;

$module-deflist-enabled             : true;
$module-tables-enabled              : false;
$module-footnotes-enabled           : false;
$module-critic-enabled              : false;

$module-containers-enabled          : false;
$module-form-controls-enabled       : false;

$module-syntax-highlighting-enabled : false;

// automatic-urls
// page-breaks
// numbered-headings
// numbered-elements
// tables
// definition-lists
// footnotes
// critic-markup
// form-controls
// syntax-highlighting
// container-align
// container-float
// container-columns
// container-cards
// page-numbering
// page-headers