// Base

$page-margin-x: 2cm;
$page-margin-y: 0;
$page-max-width: 100%;
$page-background: $color-white;
$page-foreground: $color-black;
$page-font: $font-serif;
$page-font-size: 12pt;
$page-line-height: 1.41;

$heading-font: $font-sans-serif;
$heading-font-size: (20pt, 16pt, 14pt);
$heading-margin: (20pt, 16pt, 12pt);

$paragraph-indent: 0;

$link-color: $page-foreground;

$code-font: $font-monospace;
$code-font-size: 11pt;
$code-background: $color-gray-light;
$code-foreground: $page-foreground;
$code-border-color: transparent;

$quote-font: $page-font;
$quote-font-size: 14pt;
$quote-background: $page-background;
$quote-foreground: $page-foreground;
$quote-border-color: $color-gray-medium;

$spacing-small: 3pt;
$spacing-medium: 12pt;
$spacing-large: 18pt;
$spacing-huge: 24pt;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 3px;

