//// ! Base Config

// Breakpoints
$breakpoint-small     : 130mm;
$breakpoint-large     : 200mm;

// Borders
$border-width-100     : 1pt;
$border-width-200     : 1.5pt;
$border-width-300     : 2pt;
$border-width-400     : 3pt;

$border-radius-100    : 1.5pt;
$border-radius-200    : 2pt;
$border-radius-300    : 2.5pt;
$border-radius-400    : 3pt;

// Spacing
$spacing-100          : 1pt;
$spacing-200          : 2pt;
$spacing-300          : 4pt;
$spacing-400          : 8pt;
$spacing-500          : 12pt;
$spacing-600          : 16pt;
$spacing-700          : 20pt;
$spacing-800          : 24pt;
$spacing-900          : 28pt;

// Font sizes
$font-size-100        : 10pt;
$font-size-200        : 11pt;
$font-size-300        : 12pt;
$font-size-400        : 13pt;
$font-size-500        : 14pt;
$font-size-600        : 17pt;

//// ! Element Config

// Root dimensions
$root-margin-x        : 1.2cm;
$root-margin-y        : 0;
$root-max-width       : 100%;
$root-min-width       : 0;

// Root typography
$root-font            : $font-serif;
$root-font-size       : $font-size-200;
$root-font-color      : $color-black;
$root-background      : $color-white;
$root-line-height     : 1.41;

// Headings
$heading-font         : $font-sans-serif;
$heading-font-size    : $font-size-600, $font-size-500, $font-size-400, $font-size-300;
$heading-font-color   : $color-primary, $color-accent, $root-font-color, $root-font-color;
$heading-font-weight  : $font-weight-bold, $font-weight-bold, $font-weight-bold, $font-weight-bold;
$heading-margin       : $spacing-600, $spacing-500, $spacing-400, $spacing-400;

// Paragraphs
$paragraph-align      : justify;
$paragraph-margin     : $spacing-400;

// Lists
$list-margin          : $paragraph-margin;
$ordered-list-style   : decimal;
$unordered-list-style : square;

// Blockquotes
$quote-font           : $font-serif;
$quote-font-size      : $font-size-300;
$quote-font-color     : $color-primary;
$quote-font-weight    : $font-weight-normal;
$quote-font-style     : italic;
$quote-background     : $root-background;
$quote-border-color   : transparent;
$qoute-line-height    : $root-line-height;
$quote-margin         : $paragraph-margin;
$quote-indent         : $spacing-700;

// Code
$code-font            : $font-monospace;
$code-font-size       : $font-size-100;
$code-font-color      : $root-font-color;
$code-font-weight     : $font-weight-normal;
$code-font-style      : normal;
$code-background      : $color-gray-light;
$code-border-color    : transparent;
$code-line-height     : 1.5;
$code-margin          : $paragraph-margin;

// Links
$link-font            : $root-font;
$link-font-size       : $root-font-size;
$link-font-color      : $root-font-color;
$link-font-weight     : $font-weight-bold;
$link-font-style      : normal;
