// Root Element
$root-margin-x: 2cm;
$root-margin-y: 0;
$root-max-width: 100%;
$root-min-width: 0;
$root-background: $color-white;
$root-foreground: $color-black;
$root-font: $font-serif;
$root-font-size: 12pt;
$root-line-height: 1.41;

// Headings
$heading-font: $font-sans-serif;
$heading-font-size: (20pt, 16pt, 14pt);
$heading-margin: (20pt, 16pt, 12pt);

// Paragraphs
$paragraph-indent: 0;
$paragraph-align: justify;

// Blockquotes
$quote-font: $root-font;
$quote-font-size: 13pt;
$quote-background: $color-gray-light;
$quote-foreground: $root-foreground;
$quote-border-color: $color-gray-medium;

// Lists
$ordered-list-style: decimal;
$unordered-list-style: square;

// Links
$link-color: $root-foreground;

// Code
$code-font: $font-monospace;
$code-font-size: 11pt;
$code-background: $color-gray-light;
$code-foreground: $root-foreground;
$code-border-color: transparent;

// Spacing
$spacing-small: 3pt;
$spacing-medium: 12pt;
$spacing-large: 18pt;
$spacing-huge: 24pt;

// Border Radius
$border-radius: 3px;

