// Base

$root-margin-x: auto;
$root-margin-y: 10px;
$root-max-width: 800px;
$root-min-width: 350px;
$root-background: $color-white;
$root-foreground: $color-gray-dark;
$root-font: $font-sans-serif;
$root-font-size: 17px;
$root-line-height: 1.67;

$heading-font: $root-font;
$heading-font-size: (2 * $root-font-size, 1.5 * $root-font-size, 1.2 * $root-font-size);
$heading-margin: (1.2 * $root-font-size, 1 * $root-font-size, 0);

$paragraph-indent: 0;
$paragraph-align: left;

$link-color: $color-primary;

$code-font: $font-monospace;
$code-font-size: 14px;
$code-background: $color-gray-light;
$code-foreground: $color-gray-dark;
$code-border-color: transparent;

$quote-font: $root-font;
$quote-font-size: 1.1 * $root-font-size;
$quote-background: $color-gray-light;
$quote-foreground: $root-foreground;
$quote-border-color: $color-primary;

$spacing-small: 0.2 * $root-font-size;
$spacing-medium: 0.5 * $root-font-size;
$spacing-large: 0.75 * $root-font-size;
$spacing-huge: 1.5 * $root-font-size;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 3px;

$transition-duration: 250ms;

// Extras

$button-background-em: $color-gray-medium;
$button-foreground-em: $color-gray-dark;
$button-background-strong: $color-primary;
$button-foreground-strong: $color-white;