// Base

$page-margin-x: auto;
$page-margin-y: 0;
$page-max-width: 800px;
$page-background: $color-white;
$page-foreground: $color-gray-dark;
$page-font: $font-sans-serif;
$page-font-size: 17px;
$page-line-height: 1.67;

$heading-font: $page-font;
$heading-font-size: (1: 2rem, 2: 1.5rem, 3: 1.2rem);
$heading-margin: (1: 1.2rem, 2: 1rem, 3: 0);

$paragraph-indent: 0;

$link-color: $color-primary;

$code-font: $font-monospace;
$code-font-size: 14px;
$code-background: $color-gray-light;
$code-foreground: $color-gray-dark;

$quote-font: $page-font;
$quote-font-size: 1.3rem;
$quote-background: $color-gray-light;
$quote-foreground: $color-gray-dark;

$spacing-small: 0.2rem;
$spacing-medium: 0.5rem;
$spacing-large: 0.75rem;
$spacing-huge: 1.5rem;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 0rem;

$transition-duration: 250ms;

// Extras

$message-accent-em: $color-info;
$message-symbol-em: "i";
$message-accent-strong: $color-danger;
$message-symbol-strong: "!";

$symbol-color: $color-primary;

$button-background-em: $color-gray-medium;
$button-foreground-em: $color-gray-dark;
$button-background-strong: $color-primary;
$button-foreground-strong: $color-white;