$page-margin-x: auto;
$page-margin-y: 0;
$page-max-width: 800px;
$page-background: $color-white;
$page-foreground: $color-gray-dark;
$page-font: $font-sans-serif;
$page-font-size: 17px;
$page-line-height: 1.5;

$heading-font: $page-font;
$heading-font-size: (1: 2em, 2: 1.5em, 3: 1.2em);
$heading-margin: (1: 1.4em, 2: 1.2em, 3: 0);

$paragraph-indent: 0;

$link-color: $color-primary;

$code-font: $font-monospace;
$code-font-size: 0.9em;
$code-background: $color-gray-dark;
$code-foreground: $color-gray-light;

$quote-font: $page-font;
$quote-font-size: $page-font-size;
$quote-background: $color-gray-medium;
$quote-foreground: $color-gray-dark;

$spacing-small: 0.2em;
$spacing-medium: 0.5em;
$spacing-large: 0.75em;
$spacing-huge: 1em;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 0.3em;

$transition-duration: 250ms;
