// Convert emphasised and strong links into buttons
// (true|false)
// Default: true
// Example: 
// **[This is a button](button-href-target)**
$convert-buttons: true;

$button-background-em: $color-gray-medium;
$button-foreground-em: $color-gray-dark;

$button-background-strong: $color-primary;
$button-foreground-strong: $color-white;

// Convert double strong text to floating symbols
// (true/false)
// Default: true
// Example: 
// ****!****
$convert-floating-symbols: true;

// Convert emphasised and strong code into message boxes
// (true|false)
// Default: true
// Example: 
// **`This is a very important message`**
$convert-messages: true;

$message-accent-em: $color-info;
$message-symbol-em: "i";

$message-accent-strong: $color-danger;
$message-symbol-strong: "!";
