// Root typgraphy
$root-font: $font-sans-serif;
$root-font-size: 17px;
$root-font-color: $color-gray-dark;
$root-background: $color-white;
$root-line-height: 1.67;

// Spacing
$spacing-small: rem(0.25);
$spacing-medium: rem(0.5);
$spacing-large: rem(1);
$spacing-huge: rem(2);

// Root dimensions
$root-margin-x: $spacing-large;
$root-margin-y: $spacing-large;
$root-max-width: 910px;
$root-min-width: 350px;

// Headings
$heading-font: $root-font;
$heading-font-size: (rem(2), rem(1.3), rem(1.2), rem(1.1));
$heading-font-color: ($color-primary, $root-font-color, $root-font-color, $root-font-color);
$heading-font-weight: (bold, bold, bold, bold);
$heading-margin: (rem(2), rem(1.5), rem(1), rem(1));

// Paragraphs
$paragraph-align: justify;
$paragraph-indent: 0;
$paragraph-margin: $spacing-medium;

// Lists
$ordered-list-style: decimal;
$unordered-list-style: square;

// Blockquotes
$quote-font: $font-sans-serif;
$quote-font-size: rem(1.1);
$quote-font-color: $root-font-color;
$quote-font-weight: normal;
$quote-background: $root-background;
$quote-border-color: $root-background;

// Code
$code-font: $font-monospace;
$code-font-size: rem(0.9);
$code-font-color: $root-font-color;
$code-font-weight: normal;
$code-background: $color-gray-light;
$code-border-color: $color-gray-medium;
$code-line-height: $root-line-height;

// Links
$link-font: $root-font;
$link-font-size: $root-font-size;
$link-font-color: $color-accent;
$link-font-weight: bold;
$link-background: $root-background;
$link-border-color: $link-font-color;

// Breakpoints
$breakpoint-small: 550px;
$breakpoint-large: 660px;

// Border Radius
$border-radius: 3px;

// Cards
$card-padding: $spacing-medium;
