// Root Element
$root-margin-x: auto;
$root-margin-y: 0;
$root-max-width: 800px;
$root-min-width: 350px;
$root-background: $color-white;
$root-font-color: $color-gray-dark;
$root-font: $font-sans-serif;
$root-font-size: 17px;
$root-line-height: 1.67;

// Spacing
$spacing-small: 0.2 * $root-font-size;
$spacing-medium: 0.5 * $root-font-size;
$spacing-large: 0.75 * $root-font-size;
$spacing-huge: 1.5 * $root-font-size;

// Headings
$heading-font: $root-font;
$heading-font-size: (2 * $root-font-size, 1.5 * $root-font-size, 1.2 * $root-font-size);
$heading-margin: (1.2 * $root-font-size, 1 * $root-font-size, 0);

// Paragraphs
$paragraph-align: left;
$paragraph-indent: 0;
$paragraph-margin: $spacing-large;

// Blockquotes
$quote-font: $root-font;
$quote-font-size:  1.1 * $root-font-size;
$quote-background: $root-background;
$quote-font-color: $root-font-color;
$quote-border-color: $color-primary;

// Lists
$ordered-list-style: decimal;
$unordered-list-style: square;

// Links
$link-color: $color-primary;

// Code
$code-font: $font-monospace;
$code-font-size: 14px;
$code-background: $color-gray-light;
$code-font-color: $color-gray-dark;
$code-border-color: $color-gray-medium;

// Breakpoints
$breakpoint-small: 550px;
$breakpoint-large: 660px;

// Border Radius
$border-radius: 3px;

// Cards
$card-padding: $spacing-large;

// Transition
$transition-duration: 250ms;
