// Colors
$color-white          : hsl(0, 0%, 100%);
$color-gray-light     : hsl(215, 25%, 95%);
$color-gray-medium    : hsl(215, 15%, 85%);
$color-gray-dark      : hsl(215, 25%, 15%);
$color-black          : hsl(0, 0%, 0%);
$color-red            : hsl(0, 75%, 45%);
$color-green          : hsl(150, 60%, 45%);
$color-blue           : hsl(200, 70%, 45%);
$color-yellow         : hsl(50, 90%, 45%);
$color-purple         : hsl(280, 40%, 45%);
$color-violet         : hsl(330, 50%, 45%);
$color-brown          : hsl(20, 40%, 45%);
$color-primary        : hsl(215, 30%, 45%);
$color-accent         : hsl(215, 10%, 50%);

// Fonts
$font-serif           : "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
$font-sans-serif      : "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif;
$font-monospace       : "Fira Mono", "Consolas", "Monaco", monospace;

// Root Element Selector
$root-selector        : "";
$print-only-root      : false;

// Transition
$transition-duration  : 250ms;