// Colors
$color-white: #ffffff;
$color-gray-light: #eaeef3;
$color-gray-medium: #bdc3c7;
$color-gray-dark: #1c2a39;
$color-black: #000000;
$color-red: #e74c3c;
$color-green: #1E824C;
$color-blue: #2e7cac;
$color-yellow: #f9bf3b;
$color-purple: #9b59b6;
$color-brown: #ae815b;
$color-primary: $color-blue;
$color-accent: $color-green;
$color-danger: $color-red;
$color-info: $color-blue;

// Fonts
$font-serif: "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
$font-sans-serif: "Roboto Condensed", "Arial Narrow", "Arial", "Helvetica", sans-serif;
$font-monospace: "Fira Mono", "Consolas", "Monaco", monospace;

// Root Element Selector
$root-selector: "";