// Colors
$color-white          : hsl(0, 0%, 100%);
$color-gray-light     : hsl(215, 25%, 95%);
$color-gray-medium    : hsl(215, 15%, 85%);
$color-gray-dark      : hsl(215, 25%, 15%);
$color-black          : hsl(0, 0%, 0%);
$color-red            : hsl(350, 70%, 55%);
$color-orange         : hsl(30, 80%, 55%);
$color-yellow         : hsl(50, 80%, 60%);
$color-lime           : hsl(70, 75%, 55%);
$color-green          : hsl(125, 55%, 50%);
$color-forest         : hsl(150, 60%, 40%);
$color-blue           : hsl(210, 70%, 55%);
$color-indigo         : hsl(245, 60%, 55%);
$color-purple         : hsl(265, 60%, 45%);
$color-violet         : hsl(330, 60%, 50%);
$color-brown          : hsl(20, 50%, 50%);
$color-primary        : hsl(215, 30%, 45%);
$color-accent         : hsl(215, 10%, 50%);

// Fonts
$font-serif           : "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
$font-sans-serif      : "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif;
$font-monospace       : "Fira Mono", "Consolas", "Monaco", monospace;

// Root Element Selector
$root-selector        : "";
$print-only-root      : false;

// Transition
$transition-duration  : 250ms;