// Root Element
$root-margin-x: 80pt;
$root-margin-y: 0;
$root-max-width: 100%;
$root-min-width: 0;
$root-background: $color-white;
$root-font-color: $color-gray-dark;
$root-font: $font-sans-serif;
$root-font-size: 22pt;
$root-line-height: 2.14;

// Headings
$heading-font: $root-font;
$heading-font-size: (40pt, 28pt, 24pt);
$heading-margin: (30pt, 20pt, 18pt);

// Paragraphs
$paragraph-indent: 0;
$paragraph-align: left;

// Blockquotes
$quote-font: $root-font;
$quote-font-size: 24pt;
$quote-background: $color-gray-light;
$quote-font-color: $root-font-color;
$quote-border-color: $color-primary;

// Lists
$ordered-list-style: decimal;
$unordered-list-style: square;

// Links
$link-color: $color-accent;

// Code
$code-font: $font-monospace;
$code-font-size: 20pt;
$code-background: $color-gray-light;
$code-font-color: $color-gray-dark;
$code-border-color: transparent;

// Spacing
$spacing-small: 0.5 * $root-font-size;
$spacing-medium: 1 * $root-font-size;
$spacing-large: 1.4 * $root-font-size;
$spacing-huge: 2 * $root-font-size;

// Border Radius
$border-radius: 3px;
