// Base

$page-margin-x: 24pt;
$page-margin-y: 0;
$page-max-width: 100%;
$page-background: $color-white;
$page-foreground: $color-gray-dark;
$page-font: $font-sans-serif;
$page-font-size: 22pt;
$page-line-height: 2.14;

$heading-font: $page-font;
$heading-font-size: (40pt, 28pt, 24pt);
$heading-margin: (30pt, 20pt, 18pt);

$paragraph-indent: 0;

$link-color: $color-accent;

$code-font: $font-monospace;
$code-font-size: 0.9em;
$code-background: $color-gray-light;
$code-foreground: $color-gray-dark;

$quote-font: $page-font;
$quote-font-size: $page-font-size;
$quote-background: $color-gray-medium;
$quote-foreground: $color-gray-dark;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.4rem;
$spacing-huge: 2rem;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 0;
