// Root Element
$root-margin-x: 80pt;
$root-margin-y: 0;
$root-max-width: 100%;
$root-min-width: 0;
$root-background: $color-white;
$root-font-color: $color-gray-dark;
$root-font: $font-sans-serif;
$root-font-size: 17pt;
$root-line-height: 1.81;

// Spacing
$spacing-small: 0.2 * $root-font-size;
$spacing-medium: 0.7 * $root-font-size;
$spacing-large: 1 * $root-font-size;
$spacing-huge: 1.5 * $root-font-size;

// Headings
$heading-font: $root-font;
$heading-font-size: (40pt, 28pt, 24pt);
$heading-margin: (30pt, 20pt, 18pt);

// Paragraphs
$paragraph-align: left;
$paragraph-indent: 0;
$paragraph-margin: $spacing-medium;

// Blockquotes
$quote-font: $root-font;
$quote-font-size: 19pt;
$quote-background: $color-gray-light;
$quote-font-color: $root-font-color;
$quote-border-color: $color-primary;

// Lists
$ordered-list-style: decimal;
$unordered-list-style: square;

// Links
$link-color: $color-accent;

// Code
$code-font: $font-monospace;
$code-font-size: 15pt;
$code-background: $color-gray-light;
$code-font-color: $color-gray-dark;
$code-border-color: $color-gray-medium;

// Border Radius
$border-radius: 5px;

// Cards
$card-padding: $spacing-medium;
