// Base

$page-margin-x: 100px;
$page-margin-y: 0;
$page-max-width: 100%;
$page-background: $color-gray-dark;
$page-foreground: $color-gray-light;
$page-font: $font-sans-serif;
$page-font-size: 22pt;
$page-line-height: 2.14;

$heading-font: $page-font;
$heading-font-size: (1: 40pt, 2: 28pt, 3: 24pt);
$heading-margin: (1: 30pt, 2: 20pt, 3: 18pt);

$paragraph-indent: 0;

$link-color: $color-accent;

$code-font: $font-monospace;
$code-font-size: 0.9em;
$code-background: $color-black;
$code-foreground: $color-white;

$quote-font: $page-font;
$quote-font-size: $page-font-size;
$quote-background: $color-gray-medium;
$quote-foreground: $color-gray-dark;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.4rem;
$spacing-huge: 2rem;

$ordered-list-style: decimal;
$unordered-list-style: square;

$border-radius: 0rem;

// Extras

$message-accent-em: $color-info;
$message-symbol-em: "i";
$message-accent-strong: $color-danger;
$message-symbol-strong: "!";

$symbol-color: $color-primary;
