@page {
  margin: 0;
}

body {
  color: $page-foreground;
  padding: $page-margin-y $page-margin-x;
  z-index: 1;

  &:before {
    background: $page-background;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

h1 {
  padding: $spacing-huge 0;
}

h2 {
  padding: $spacing-large 0;
}

h3 {
  color: $color-accent;
}

h1, h2 {
  color: $color-primary;
  text-transform: uppercase;
}

pre, table, ul {
  page-break-inside: avoid;
}
