@mixin slides-block {
  h1, h2 {
    @include use-font-color($color-primary);

    text-transform: uppercase;
  }

  h1 {
    line-height: 1;
  }

  h3 {
    @include use-font-color($color-accent);
  }

  pre {
    overflow-x: hidden;
    white-space: pre-wrap;
  }
}