// Root typography
$root-font-family              : $font-family-default;
$root-font-size                : $font-size-default;
$root-font-weight              : $font-weight-default;
$root-font-color               : $color-text-dark;
$root-background               : $color-white;
$root-line-height              : $line-height-default;

// Paragraphs
$paragraph-spacing-before      : $spacing-default;
$paragraph-spacing-after       : $spacing-default;
$paragraph-text-align          : left;

// Headings (h1, [h2], [h3], [h4], [h5], [h6])
$heading-font-family           : null,                 null,                 null,                 null;
$heading-font-size             : $font-size-500,       $font-size-400,       $font-size-300,       $font-size-200;
$heading-font-weight           : $font-weight-default, $font-weight-default, $font-weight-default, $font-weight-default;
$heading-font-color            : $color-primary,       $color-secondary,     null,                 null;
$heading-line-height           : null,                 null,                 null,                 null;
$heading-spacing-before        : 0,                    $spacing-200,         $spacing-100,         $spacing-100;
$heading-spacing-after         : $spacing-400,         $spacing-200,         $spacing-100,         $spacing-100;

// Blockquote
$quote-font-family             : null;
$quote-font-size               : null;
$quote-font-weight             : null;
$quote-font-color              : $color-secondary;
$quote-line-height             : null;
$quote-spacing-before          : $spacing-default;
$quote-spacing-after           : $spacing-default;
$quote-indent                  : $spacing-large;

// Code
$code-block-font-family        : $font-family-code;
$code-block-font-size          : $font-size-small;
$code-block-font-color         : $root-font-color;
$code-block-line-height        : $line-height-small;
$code-block-spacing-before     : $spacing-default;
$code-block-spacing-after      : $spacing-default;
$code-block-indent             : null;

// Lists
$list-unordered-style          : square;
$list-ordered-style            : numeric;
$list-line-height              : $line-height-200;
$list-spacing-before           : $spacing-default;
$list-spacing-after            : $spacing-default;
$list-indent                   : $spacing-large;

// Links (base, hover, active)
$link-font-family              : null,              null,           null;
$link-font-size                : null,              null,           null;
$link-font-weight              : $font-weight-bold, null,           null;
$link-font-color               : $color-primary,    $color-primary, $color-primary;

// Inline code
$code-inline-font-family       : $font-family-code;
$code-inline-font-size         : $font-size-small;
$code-inline-font-weight       : null;
$code-inline-font-color        : null;

// Thematic breaks
$thematic-break-spacing-before : $spacing-default;
$thematic-break-spacing-after  : $spacing-default;
