// Button (base, hover, active)
$button-background      : $color-object-light,    $color-primary,    $color-primary-focused;
$button-border          : none,                   null,              null;
$button-border-radius   : $border-radius-default, null,              null;
$button-font-color      : $color-text-dark,       $color-text-light, $color-text-light;
$button-font-weight     : $font-weight-bold,      null,              null;