// Colors
$background-colors : (
  primary          : $color-primary,
  secondary        : $color-secondary,
  negative         : $color-negative,
  notice           : $color-notice,
  positive         : $color-positive,
  informative      : $color-informative
);

$text-colors       : (
  primary          : $color-primary-focused,
  secondary        : $color-secondary-focused,
  negative         : $color-negative-focused,
  notice           : $color-notice-focused,
  positive         : $color-positive-focused,
  informative      : $color-informative-focused
);

// Columns
$columns-max-count : 6;
$columns-spacing   : $spacing-default;