@mixin extensions-block {
  // Definition lists
  dl {
    margin: $deflist-spacing-before 0 $deflist-spacing-after;

    dt {
      color: $deflist-term-font-color;
      font-family: $deflist-term-font-family;
      font-size: $deflist-term-font-size;
      font-weight: $deflist-term-font-weight;
      margin-left: $deflist-term-indent;
    }

    dd {
      color: $deflist-details-font-color;
      font-family: $deflist-details-font-family;
      font-size: $deflist-details-font-size;
      font-weight: $deflist-details-font-weight;
      margin-left: $deflist-details-indent;
    }
  }

  // Task lists
  ul {
    li > input[type="checkbox"]:first-child {
      height: 0;
      left: -#{$tasklist-size * 0.4};
      margin: 0;
      padding: 0;
      position: absolute;
      top: calc(50% - #{$tasklist-size * 0.4});
      width: 0;

      // Box
      &::before {
        content: "";
        background: nth($tasklist-background, 1);
        border: nth($tasklist-border, 1);
        border-radius: nth($tasklist-border-radius, 1);
        box-sizing: border-box;
        display: block;
        height: $tasklist-size;
        width: $tasklist-size;
      }

      &:checked::before {
        background: nth($tasklist-background, 2);
        border: nth($tasklist-border, 2);
        border-radius: nth($tasklist-border-radius, 2);
      }

      // Checkmark
      &::after {
        content: "";
        display: none;
        border-left: solid nth($tasklist-check-color, 2) $tasklist-check-width;
        border-bottom: solid nth($tasklist-check-color, 2) $tasklist-check-width;
        height: #{$tasklist-size * 0.15};
        left: #{$tasklist-size * 0.25};
        position: absolute;
        top: #{$tasklist-size * 0.35};
        transform: rotate(-45deg);
        width: #{$tasklist-size * 0.4};
      }

      &:checked::after {
        display: block;
      }
    }
  }
}
