$font-serif      : "Noticia Text", "Cambria", "Times New Roman", "Times", serif;
$font-sans-serif : "Fira Sans", "Arial", "HelveticaNeue", sans-serif;
$font-condensed  : "Fira Sans Extra Condensed", "Arial Narrow", "HelveticaNeue", sans-serif;
$font-monospace  : "Fira Mono", "Consolas", "Monaco", monospace;