@mixin core-block {
  // Paragraphs
  p {
    margin: $paragraph-spacing-before 0 $paragraph-spacing-after;
    text-align: $paragraph-text-align;
  }

  // Headings
  @for $level from 1 through length($heading-font-size) {
    h#{$level} {
      color: nth($heading-font-color, $level);
      font-family: nth($heading-font-family, $level);
      font-size: nth($heading-font-size, $level);
      font-weight: nth($heading-font-weight, $level);
      line-height: nth($heading-line-height, $level);
      margin: nth($heading-spacing-before, $level) 0 nth($heading-spacing-after, $level);
    }
  }

  // Quotes
  blockquote {
    color: $quote-font-color;
    font-family: $quote-font-family;
    font-size: $quote-font-size;
    font-weight: $quote-font-weight;
    line-height: $quote-line-height;
    margin: $quote-spacing-before 0 $quote-spacing-after;
    margin-left: $quote-indent;
  }

  // Code blocks
  pre {
    line-height: $code-block-line-height;
    margin: $code-block-spacing-before 0 $code-block-spacing-after;
    margin-left: $code-block-indent;
    overflow-x: auto;

    & > code {
      color: $code-block-font-color;
      font-family: $code-block-font-family;
      font-size: $code-block-font-size;
    }
  }

  // Lists
  ul,
  ol {
    list-style-position: inside;
    margin: $list-spacing-before 0 $list-spacing-after;
    margin-left: $list-indent;
    padding: 0;

    li {
      position: relative;
    }
  }

  ul {
    list-style-type: $list-unordered-style;
  }

  ol {
    list-style-type: $list-ordered-style;
  }

  // Thematic breaks
  hr {
    background: $thematic-break-color;
    border: none;
    height: $thematic-break-width;
    margin: $thematic-break-spacing-before 0 $thematic-break-spacing-after;
  }
}
