.badge {
  align-items: center;
  background: _(map-get($badge-variants, "default"));
  border: none;
  border-radius: _($badge-rounding);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: _($component-font-family);
  font-size: _($badge-font-size);
  font-weight: _($component-font-weight);
  line-height: _($component-line-height);
  height: _($badge-size);
  justify-content: center;
  padding: _($badge-spacing-inset);
  text-decoration: none;
}

@each $name, $color in map-remove($badge-variants, "default") {
  .badge.color\:#{$name} {
    background: _($color);
    color: contrast-color(_($color));
  }
}
