.button,
.button\:outline {
  border: none;
  background: none;

  align-items: center;
  border-radius: $button-rounding;
  box-sizing: border-box;
  display: inline-flex;
  font-family: $component-font-family;
  font-size: $font-size-300;
  font-weight: $component-font-weight;
  min-width: #{2.25 * $size-400};
  height: $size-400;
  justify-content: center;
  padding: #{$button-padding-y} #{$button-padding-x};
  text-decoration: none;
  transition: all #{$transition-duration} #{$transition-easing};
}

.button {
  @include border($button-border-width, $button-border-color);

  background: weight($button-background, 400);
  color: contrast-color(weight($button-background, 400));

  &:hover {
    @include border($button-border-width, $button-border-color);

    background: weight($button-background, 300);
    border-radius: $button-rounding;
    color: contrast-color(weight($button-background, 300));
  }

  &:active {
    @include border($button-border-width, $button-border-color);

    background: weight($button-background, 500);
    border-radius: $button-rounding;
    color: contrast-color(weight($button-background, 500));
  }

  @each $name, $color in $utility-background-colors {
    &.background\:#{$name} {
      background: weight($color, 400);
      color: contrast-color(weight($color, 400));

      &:hover {
        background: weight($color, 300);
        color: contrast-color(weight($color, 300));
      }

      &:active {
        background: weight($color, 500);
        color: contrast-color(weight($color, 500));
      }
    }
  }
}

.button\:outline {
  @include border($button-border-width, $root-font-color);

  color: $root-font-color;

  &:hover {
    @include border($button-border-width, $root-font-color);

    color: $root-font-color;
  }

  &:active {
    @include border($button-border-width, $root-font-color);

    color: $root-font-color;
  }

  @each $name, $color in $utility-background-colors {
    &.background\:#{$name} {
      @include border($button-border-width, weight($color, 400));

      background: none;
      color: weight($color, 400);

      &:hover {
        @include border($button-border-width, weight($color, 300));

        color: weight($color, 300);
      }

      &:active {
        @include border($button-border-width, weight($color, 500));

        color: weight($color, 500);
      }
    }
  }
}
