button,
.button {
  align-items: center;
  background: none;
  border: solid $button-border-width transparent;
  border-radius: $button-rounding;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: $component-font-family;
  font-size: $button-font-size;
  font-weight: $component-font-weight;
  line-height: $component-line-height;
  height: $button-size;
  justify-content: center;
  padding: #{$button-padding-y} #{$button-padding-x};
  text-decoration: none;
  transition: all #{$transition-duration} #{$transition-easing};
}

.button {
  background: nth($button-color, 1);
  color: contrast-color(nth($button-color, 1));

  &:hover {
    background: nth($button-color, 2);
    color: contrast-color(nth($button-color, 2));
  }

  &:active {
    background: nth($button-color, 3);
    color: contrast-color(nth($button-color, 3));
  }
}

.button\:outline {
  @extend .button;
  @include border($button-border-width, $root-font-color);
  background: none;
  color: $root-font-color;

  &:hover {
    background: $root-font-color;
    border: solid $button-border-width transparent;
    color: contrast-color($root-font-color);
  }
}

.button\:quiet {
  @extend .button;
  background: none;
  color: $root-font-color;
}

@each $name, $color in $button-variants {
  .button.color\:#{$name} {
    background: nth($color, 1);
    color: contrast-color(nth($color, 1));

    &:hover {
      background: nth($color, 2);
      color: contrast-color(nth($color, 2));
    }

    &:active {
      background: nth($color, 3);
      color: contrast-color(nth($color, 3));
    }
  }

  .button\:outline.color\:#{$name} {
    @include border($button-border-width, nth($color, 1));
    background: none;
    color: nth($color, 1);

    &:hover {
      border: solid $button-border-width transparent;
    }
  }

  .button\:quiet.color\:#{$name} {
    background: none;
    color: nth($color, 1);
  }
}
