button,
.button {
  align-items: center;
  background: none;
  border: _($button-border);
  border-radius: _($button-rounding);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: _($component-font-family);
  font-size: _($button-font-size);
  font-weight: _($component-font-weight);
  line-height: _($component-line-height);
  height: _($button-size);
  justify-content: center;
  padding: _($button-spacing-inset);
  text-decoration: none;
  transition: all _($transition-duration) _($transition-easing);
}

.button {
  background: _(map-get($button-variants, "default"), "default");
  color: contrast-color(_(map-get($button-variants, "default"), "default"));

  &:hover {
    background: _(map-get($button-variants, "default"), "hover");
    color: contrast-color(_(map-get($button-variants, "default"), "hover"));
  }

  &:active {
    background: _(map-get($button-variants, "default"), "active");
    color: contrast-color(_(map-get($button-variants, "default"), "active"));
  }
}

.button\:outline {
  @extend .button;
  background: none;
  border-color: _($root-font-color);
  color: _($root-font-color);

  &:hover {
    background: _($root-font-color);
    border-color: transparent;
    color: contrast-color(_($root-font-color));
  }
}

.button\:quiet {
  @extend .button;
  background: none;
  color: _($root-font-color);
}

@each $name, $color in map-remove($button-variants, "default") {
  .button.color\:#{$name} {
    background: _($color, "default");
    color: contrast-color(_($color, "default"));

    &:hover {
      background: _($color, "hover");
      color: contrast-color(_($color, "hover"));
    }

    &:active {
      background: _($color, "active");
      color: contrast-color(_($color, "active"));
    }
  }

  .button\:outline.color\:#{$name} {
    background: none;
    border-color: _($color, "default");
    color: _($color, "default");

    &:hover {
      border-color: transparent;
    }
  }

  .button\:quiet.color\:#{$name} {
    background: none;
    color: _($color, "default");
  }
}
