.card {
  border: _($card-border);
  border-radius: _($card-rounding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: _($card-spacing-inset);
}

.card\:header {
  order: -1;
}

.card\:content {
  flex-grow: 1;
}

.card\:footer {
  order: 1;
}
