.indicator {
  background: _(map-get($indicator-variants, "default"));
  border: none;
  border-radius: _($indicator-rounding);
  box-sizing: border-box;
  display: inline-block;
  height: _($indicator-size);
  width: _($indicator-size);
}

@each $name, $color in $indicator-variants {
  .indicator.color\:#{$name} {
    background: _($color);
  }
}
