@mixin card($font, $font-size, $font-color, $background, $border-color) {
  @include font($font);
  @include font-size($font-size);
  @include font-color($font-color);
  @include background($background);

  border-left: solid $border-color $spacing-small;
  margin: $spacing-medium 0;
  padding: $card-padding;
  break-inside: avoid;
  page-break-inside: avoid;
}