@mixin import-externals($urls) {
  @each $url in $urls {
    @import url($url);
  }
}

@mixin on-root {
  @if $root-selector == "" {
    body {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin on-right-margin {
  position: absolute;
  top: 0;
  left: calc(100% + #{$spacing-medium});
  @content;
}

@mixin on-left-margin {
  position: absolute;
  top: 0;
  right: calc(100% + #{$spacing-medium});
  direction: rtl;
  @content;
}