@mixin externals($urls) {
  @each $url in $urls {
    @import url($url);
  }
}

@mixin font($font) {
  @if ($font != $root-font) {
    font-family: $font;
  }
}

@mixin font-size($font-size) {
  @if ($font-size != $root-font-size) {
    font-size: $font-size;
  }
}

@mixin font-color($color) {
  @if ($color != $root-font-color) {
    color: $color;
  }
}

@mixin background($background) {
  @if ($background != $root-background) {
    background: $background;
  }
}

@mixin on-root {
  @if $root-selector == "" {
    body {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin on-right-margin {
  position: absolute;
  top: 0;
  left: calc(100% + #{$spacing-medium});
  @content;
}

@mixin on-left-margin {
  position: absolute;
  top: 0;
  right: calc(100% + #{$spacing-medium});
  @content;
}