blockquote {
  background: _($blockquote-background);
  border: _($blockquote-border);
  border-radius: _($blockquote-rounding);
  color: _($blockquote-font-color);
  font-family: _($blockquote-font-family);
  font-size: _($blockquote-font-size);
  font-weight: _($blockquote-font-weight);
  line-height: _($blockquote-line-height);
  margin-bottom: _($blockquote-spacing-after);
  margin-top: _($blockquote-spacing-before);
  padding: _($blockquote-spacing-inset);
}
