pre {
  background: _($code-block-background);
  border: _($code-block-border);
  border-radius: _($code-block-rounding);
  line-height: _($code-block-line-height);
  margin-bottom: _($code-block-spacing-after);
  margin-top: _($code-block-spacing-before);
  overflow-x: auto;
  padding: _($code-block-spacing-inset);
  white-space: pre;

  @include print-only {
    overflow-x: hidden;
    white-space: pre-wrap;
  }

  & > code {
    color: _($code-block-font-color);
    font-family: _($code-block-font-family);
    font-size: _($code-block-font-size);
    font-weight: _($code-block-font-weight);
  }
}
