pre {
  @include border($code-block-border-width, $code-block-border-color);

  background: $code-block-background;
  border-radius: $code-block-rounding;
  line-height: $code-block-line-height;
  margin-top: $code-block-spacing-before;
  margin-bottom: $code-block-spacing-after;
  overflow-x: auto;
  padding: #{$code-block-padding-y} #{$code-block-padding-x};
  padding-left: $code-block-indent;
  white-space: pre;

  @include print-only {
    overflow-x: hidden;
    white-space: pre-wrap;
  }

  & > code {
    color: $code-block-font-color;
    font-family: $code-block-font-family;
    font-size: $code-block-font-size;
  }
}
