@for $level from 1 through 6 {
  h#{$level} {
    @include border(nth($heading-border-width, $level), nth($heading-border-color, $level));

    background: nth($heading-background, $level);
    border-radius: nth($heading-rounding, $level);
    color: nth($heading-font-color, $level);
    font-family: nth($heading-font-family, $level);
    font-size: nth($heading-font-size, $level);
    font-weight: nth($heading-font-weight, $level);
    line-height: nth($heading-line-height, $level);
    margin-top: nth($heading-spacing-before, $level);
    margin-bottom: nth($heading-spacing-after, $level);
    padding: #{nth($heading-padding-y, $level)} #{nth($heading-padding-x, $level)};
  }
}
