@for $level from 1 through 6 {
  h#{$level} {
    background: _(nth-if($heading-background, $level));
    border: _(nth-if($heading-border, $level));
    border-radius: _(nth-if($heading-rounding, $level));
    color: _(nth-if($heading-font-color, $level));
    font-family: _(nth-if($heading-font-family, $level));
    font-size: _(nth-if($heading-font-size, $level));
    font-style: _(nth-if($heading-font-style, $level));
    font-weight: _(nth-if($heading-font-weight, $level));
    line-height: _(nth-if($heading-line-height, $level));
    margin-bottom: _(nth-if($heading-spacing-after, $level));
    margin-top: _(nth-if($heading-spacing-before, $level));
    padding: _(nth-if($heading-spacing-inset, $level));
  }
}
