:not(pre) > code {
  background: _($code-inline-background);
  border: _($code-inline-border);
  border-radius: _($code-inline-rounding);
  color: _($code-inline-font-color);
  display: inline-block;
  font-family: _($code-inline-font-family);
  font-size: _($code-inline-font-size);
  font-style: _($code-inline-font-style);
  font-weight: _($code-inline-font-weight);
  padding: _($code-inline-spacing-inset);
}
