:not(pre) > code {
  background: $code-inline-background;
  border: $code-inline-border-style $code-inline-border-width $code-inline-border-color;
  border-radius: $code-inline-rounding;
  color: $code-inline-font-color;
  font-family: $code-inline-font-family;
  font-size: $code-inline-font-size;
  font-weight: $code-inline-font-weight;
  padding: #{$code-inline-padding-y} #{$code-inline-padding-x};
}
