a {
  color: _(map-get($link-font-color, "default"));
  font-family: _($link-font-family);
  font-size: _($link-font-size);
  font-style: _($link-font-style);
  font-weight: _($link-font-weight);
  transition: color #{$transition-duration} #{$transition-easing};

  @include screen-only {
    &:hover {
      color: _(map-get($link-font-color, "hover"));
    }

    &:active {
      color: _(map-get($link-font-color, "active"));
    }
  }
}
