a {
  color: nth($link-font-color, 1);
  font-family: $link-font-family;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  transition: color #{$transition-duration} #{$transition-easing};

  @include screen-only {
    &:hover {
      color: nth($link-font-color, 2);
    }

    &:active {
      color: nth($link-font-color, 3);
    }
  }
}
