ul,
ol {
  list-style-position: outside;
  margin: 0;
  margin-bottom: _($list-spacing-after);
  margin-top: _($list-spacing-before);
  padding: 0;
  padding-left: _($list-indent);
  position: relative;

  ul {
    margin: 0;
    margin-left: #{_($list-item-indent) - _($list-indent)};
  }

  li {
    margin-left: 0;
    padding: _($list-item-spacing-inset);
    padding-left: _($list-item-indent);
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

ul {
  list-style-type: _($list-unordered-style);
}

ol {
  list-style-type: _($list-ordered-style);
}
