ul,
ol {
  list-style-position: outside;
  margin: $list-spacing-before 0 $list-spacing-after;
  margin-left: $list-level-indent;
  padding: 0;
  position: relative;

  ul {
    margin: 0 0 0 #{$list-level-indent - $list-item-indent};
  }

  li {
    margin-left: 0;
    padding-left: $list-item-indent;
    position: relative;
  }
}

ul {
  list-style-type: $list-unordered-style;
}

ol {
  list-style-type: $list-ordered-style;
}
