body {
  @include align-block(_($root-align));

  background: _($root-background);
  border: _($root-border);
  border-radius: _($root-rounding);
  box-sizing: border-box;
  color: _($root-font-color);
  font-family: _($root-font-family);
  font-size: _($root-font-size);
  line-height: _($root-line-height);
  margin-bottom: _($root-spacing-after);
  margin-top: _($root-spacing-before);
  max-width: _($root-max-width);
  min-width: _($root-min-width);
  overflow-x: hidden;
  padding: _($root-spacing-inset);
  text-align: _($root-text-align);
  width: 100%;

  > * {
    max-width: _($root-max-width);
  }
}
