body {
  @include align-block($root-align);
  @include border($root-border-width, $root-border-color);

  background: $root-background;
  border-radius: $root-rounding;
  box-sizing: border-box;
  color: $root-font-color;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  max-width: $root-max-width;
  margin-top: $root-spacing-before;
  margin-bottom: $root-spacing-after;
  min-width: $root-min-width;
  overflow-x: hidden;
  padding: #{$root-padding-y} #{$root-padding-x};
  width: 100%;

  > * {
    max-width: $root-max-width;
  }
}
