hr {
  background: _($break-background);
  border: none;
  border-radius: _($break-rounding);
  box-sizing: border-box;
  height: _($break-height);
  margin-bottom: _($break-spacing-after);
  margin-top: _($break-spacing-before);
}
