hr {
  background: $thematic-break-color;
  border: none;
  border-radius: $thematic-break-rounding;
  height: $thematic-break-height;
  margin-top: $thematic-break-spacing-before;
  margin-bottom: $thematic-break-spacing-after;
}
