@each $name, $color in $utility-background-colors {
  .background\:#{$name} {
    background: _($color);
    color: contrast-color(_($color));
  }
}

@each $name, $color in $utility-text-colors {
  .text\:#{$name} {
    color: _($color);
  }
}
