@each $name, $color in $utility-background-colors {
  .background\:#{$name} {
    background: weight($color, 400);
    color: contrast-color(weight($color, 400));
  }
}

@each $name, $color in $utility-text-colors {
  .text\:#{$name} {
    color: weight($color, 500);
  }
}
