// Fix number columns
@for $column-count from 2 through $columns-max-count {
  .columns\:#{$column-count} {
    display: grid;
    grid-gap: _($columns-gutter);
    grid-template-columns: string-repeat(_($column-count), 1fr);

    @include tablet-only {
      $tablet-column-count: ceil(_($column-count) / 2);
      grid-template-columns: string-repeat($tablet-column-count, 1fr);
    }

    @include mobile-only {
      grid-template-columns: auto;
    }
  }
}

// Automatic number of columns
.columns\:auto {
  align-items: stretch;
  display: flex;
  justify-content: space-evenly;

  & > * {
    margin: _($columns-gutter);
    flex-shrink: 1;
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
