@each $name, $margin in $utility-margins {
  .margin\:#{$name} {
    margin: _($margin);
  }

  .margin\:vertical\:#{$name} {
    margin-top: _($margin);
    margin-bottom: _($margin);
  }

  .margin\:horizontal\:#{$name} {
    margin-left: _($margin);
    margin-right: _($margin);
  }

  .margin\:left\:#{$name} {
    margin-left: _($margin);
  }

  .margin\:right\:#{$name} {
    margin-right: _($margin);
  }

  .margin\:top\:#{$name} {
    margin-top: _($margin);
  }

  .margin\:bottom\:#{$name} {
    margin-bottom: _($margin);
  }
}
