// Border radius
.rounding\:small {
  border-radius: $border-radius-small;
}

.rounding\:default {
  border-radius: $border-radius-default;
}

.rounding\:large {
  border-radius: $border-radius-large;
}

.rounding\:full {
  border-radius: $border-radius-full;
}
